{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-%s-in-%s")|format(affiliation.parseBranchedName(), affiliation.project.parseFullName())) %}
{% do headTitle().append(translate("txt-add-associate")) %}

<h1>{{ translate("txt-add-associate") }}</h1>

<p>{{ translate("txt-add-contact-to-affiliation-explanation") }}</p>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}


<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-project-name") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ projectLink(affiliation.project,'view-admin', 'name') }}</p>
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-affiliation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ affiliationLink(affiliation,'view-admin') }}
            ({{ affiliation.organisation.country }})</p>
    </div>
</div>

{{ contactformelement(form.get('contact')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
