{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-%s-in-%s")|format(affiliation.parseBranchedName(), affiliation.project.parseFullName())) %}
{% do headTitle().append(translate("txt-edit-costs-and-effort")) %}

<h1>{{ translate("txt-update-effort-spent") }}</h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}


<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-project-name") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ projectLink(affiliation.project,'view-admin', 'name') }}</p>
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-affiliation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ affiliationLink(affiliation,'view-admin') }}
            ({{ affiliation.organisation.country }})</p>
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-report") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ reportLink(report,'report-community', 'name') }}</p>
    </div>
</div>

{{ lbs5formelement(form.get('marketAccess')) }}
{{ lbs5formelement(form.get('mainContribution')) }}
{{ lbs5formelement(form.get('summary')) }}

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-planned-effort") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ totalPlannedEffort }} [{{ translate("txt-py") }}]</p>
    </div>
</div>


{{ lbs5formelement(form.get('effort')) }}
{{ lbs5formelement(form.get('comment')) }}

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-exploitation-related-achievement") }}</label>

    <div class="col-sm-9">
        {% for achievement in affiliation.achievement %}
            <p class="form-control-plaintext">{{ achievementLink(achievement,'view-community', 'name') }}</p>
        {% else %}
            <p class="form-control-plaintext"><i
                        class="fas fa-exclamation-circle text-warning warning"></i> {{ translate("txt-no-exploitation-related-achievements-were-created-for-%s")|format(affiliation.project.parseFullName()) }}
            </p>
        {% endfor %}
    </div>
</div>


<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">

        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

<script type="text/javascript">
    $(function () {

        var options_description = {
            'maxCharacterSize': 500,
            'originalStyle': 'originalDisplayInfo',
            'warningStyle': 'originalDisplayInfo',
            'warningNumber': 40,
            'displayFormat': '#left characters left'
        };


        $('#effort').textareaCount(options_description);
        var options_marketaccess = {
            'maxCharacterSize': 1000,
            'originalStyle': 'originalDisplayInfo',
            'warningStyle': 'originalDisplayInfo',
            'warningNumber': 40,
            'displayFormat': '#left characters left'
        };
        $('#summary').textareaCount(options_description);
        $('#comment').textareaCount(options_description);
    });
</script>

