{% if latestVersion %}

    {# README todo
        Currently we take the draft-cost and effort based year distrubion to see the effect of that.
        Later we can take here the project duraction pased year distribution
    #}
    <h2>{{ translate("txt-latest-%s-version-of-type-%s")|format(versionService.parseStatus(latestVersion)|lower, latestVersion.versionType) }}</h2>

    <p>{{ translate("txt-latest-submitted-version-of-type-%s-explanation")|format(latestVersion.versionType) }}</p>

    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr class="success">
            <th colspan="2">{{ translate("txt-costs") }} {% if not useContract %}[k&euro;]{% endif %}</th>
            {% for year in years %}
                <th>{% if year in projectYears %}{{ year }}{% else %}<span
                        class="warning text-danger"
                        title="{{ translate("txt-the-project-is-not-active-in-this-year") }}">{{ year }}</span>{% endif %}
                </th>
            {% endfor %}
            <th>{{ translate("txt-total") }} {% if not useContract %}[k&euro;]{% endif %}</th>
        </tr>
        </thead>
        <tbody>
        {% set costPerYear = versionService.findTotalCostVersionByAffiliationAndVersionPerYear(
            affiliation,
            latestVersion
            ) %}
        {% set totalPerYear = 0 %}



        {% if not useContract %}
            <tr>
                <td colspan="2"></td>
                {% for year in years %}
                    <td class="cost_version_value"
                        rel="cost_version_{{ year }}">{{ costPerYear[year]|parse_cost_edit }}</td>
                    {% set totalPerYear = totalPerYear + costPerYear[year] %}
                {% endfor %}
                <th id="cost_version_total">{{ totalPerYear|parse_cost_edit }}</th>
            </tr>
        {% else %}

            {% set contractVersionCost = contractService.findTotalCostByAffiliationInVersionPerYear(contractVersion, affiliation) %}

            <tr>
                <td colspan="2">{{ translate("txt-contract-costs") }} <i class="fa fa-handshake-o"
                                                                         aria-hidden="true"></i></td>
                {% for year in years %}
                    <td>{{ contractVersionCost[year]|currency_decimal(contractVersion.contract.currency) }}</td>
                    {% set totalPerYear = totalPerYear + contractVersionCost[year] %}
                {% endfor %}
                <th>{{ totalPerYear|currency_decimal(contractVersion.contract.currency) }}</th>
            </tr>
        {% endif %}


        </tbody>
        <thead>
        <tr class="success">
            <th colspan="2">{{ translate("txt-effort") }} [{{ translate("txt-py") }}]</th>
            {% for year in years %}
                <th>{% if year in projectYears %}{{ year }}{% else %}<span
                        class="warning"
                        title="{{ translate("txt-the-project-is-not-active-in-this-year") }}">{{ year }}</span>{% endif %}

                </th>
            {% endfor %}
            <th>{{ translate("txt-total") }}</th>
        </tr>
        </thead>
        <tbody>
        {% set grandTotal = 0 %}
        {% for workpackage in workpackageService.findWorkpackageByProjectAndWhich(affiliation.project) %}
            {% set effortPerYear = versionService.findTotalEffortVersionByWorkpackageAndAffiliationAndVersionPerYear(
                workpackage,
                affiliation,
                latestVersion,
                'object'
                ) %}
            {% set totalPerWP = 0 %}
            <tr>
                <td>{{ workpackageLink(workpackage,'view-community', 'sequence') }}</td>
                <td>{{ workpackageLink(workpackage,'view-community', 'name') }}</td>
                {% for year in years %}
                    <td class="effort_version_value"
                        rel="effort_version_{{ affiliation.id }}_{{ workpackage.id }}_{{ year }}">{{ effortPerYear[year].effort|default(0)|parse_effort }}</td>
                    {% set totalPerWP = totalPerWP + effortPerYear[year].effort %}
                {% endfor %}
                {% set grandTotal = grandTotal + totalPerWP %}
                <th id="effort_version_total_{{ workpackage.id }}">{{ totalPerWP|parse_effort }}</th>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="{{ 2 + years|length }}"></td>
            <th>{{ grandTotal|parse_effort }}</th>
        </tr>

        </tbody>
    </table>

    <hr>
{% endif %}

{% if projectService.isPrepareMode(affiliation.project) %}
    <h2>{{ translate("txt-latest-unsubmitted-version") }}</h2>

    {{ ztbalert().info(translate("txt-explanation-cost-and-effort-edit-in-place"))|raw }}

    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr class="success">
            <th colspan="2">{{ translate("txt-costs") }} {% if not useContract %}[k&euro;]{% endif %}</th>
            {% for year in years %}
                <th>{% if year in projectYears %}{{ year }}{% else %}<span
                        class="warning"
                        title="{{ translate("txt-the-project-is-not-active-in-this-year") }}">{{ year }}</span>{% endif %}
                </th>
            {% endfor %}
            <th>{{ translate("txt-total") }} {% if not useContract %}[k&euro;]{% endif %}</th>
        </tr>
        </thead>
        <tbody>
        {% set costPerYear = projectService.findTotalCostByAffiliationPerYear(affiliation) %}

        {# do a second iteration over the previous version to highlight the difference#}
        {% if latestVersion %}
            {% set costPerYearInVersion = versionService.findTotalCostVersionByAffiliationAndVersionPerYear(
                affiliation,
                latestVersion
                ) %}
        {% endif %}


        {% set totalPerYear = 0 %}

        {% if not useContract %}
            <tr class="cost_row">
                <td colspan="2"></td>
                {% for year in years %}
                    <td>
                        {% if
                            year in projectService.parseEditYearRange(affiliation.project) and
                            (
                            hasProjectEditRights or
                            isAllowed(affiliation, 'edit-affiliation')
                            ) %}
                            <i class="fa pull-left"></i>
                            <a id="cost_{{ year }}"
                               href="#" class="affiliation workpackage" data-type="text"
                               data-pk="{{ affiliation.id }},{{ year }}"
                               data-url="{{ url('json/update-cost') }}"
                               data-title="{{ translate("txt-update-costs") }}">{{ costPerYear[year]|parse_cost_edit }}</a>
                        {% else %}
                            <i class="fa pull-left"></i>
                            <span id="cost_{{ year }}"
                                  class="workpackage"
                                  rel="{{ year }}">{{ costPerYear[year]|parse_cost_edit }}</span>
                        {% endif %}
                    </td>
                    {% set totalPerYear = totalPerYear + costPerYear[year] %}
                {% endfor %}
                <th class="cost_total"><i
                            class="fa pull-left"></i><span>{{ totalPerYear|parse_cost_edit }}</span>
            </tr>
        {% else %}

            {% set contractVersionCost = contractService.findTotalCostByAffiliationInVersionPerYear(contractVersion, affiliation) %}

            <tr>
                <td colspan="2">{{ translate("txt-contract-costs") }} <i class="fa fa-handshake-o"
                                                                         aria-hidden="true"></i></td>
                {% for year in years %}
                    <td>{{ contractVersionCost[year]|currency_decimal(contractVersion.contract.currency) }}</td>
                    {% set totalPerYear = totalPerYear + contractVersionCost[year] %}
                {% endfor %}
                <th>{{ totalPerYear|currency_decimal(contractVersion.contract.currency) }}</th>
            </tr>
        {% endif %}


        </tbody>
        <thead>
        <tr class="success">
            <th colspan="2">{{ translate("txt-effort") }} [{{ translate("txt-py") }}]</th>
            {% for year in years %}
                <th>{% if year in projectYears %}{{ year }}{% else %}<span
                        class="warning"
                        title="{{ translate("txt-the-project-is-not-active-in-this-year") }}">{{ year }}</span>{% endif %}

                </th>
            {% endfor %}
            <th>{{ translate("txt-total") }} [{{ translate("txt-py") }}]</th>
        </tr>
        </thead>
        <tbody>
        {% for workpackage in workpackageService.findWorkpackageByProjectAndWhich(affiliation.project) %}
            {% set effortPerYear = projectService.findTotalEffortByWorkpackageAndAffiliationPerYear(
                workpackage,
                affiliation,
                'object') %}
            {% set totalPerWP = 0 %}

            {# do a second iteration over the previous version to highlight the difference#}
            {% if latestVersion %}
                {% set effortPerYearInVersion =
                    versionService.findTotalEffortVersionByWorkpackageAndAffiliationAndVersionPerYear(
                    workpackage,
                    affiliation,
                    latestVersion
                    ) %}
            {% endif %}


            <tr class="workpackage_row" rel="{{ workpackage.id }}">
                <td>{{ workpackageLink(workpackage,'view-community', 'sequence') }}</td>
                <td>{{ workpackageLink(workpackage,'view-community', 'name') }}</td>
                {% for year in years %}
                {% set effortInCurrentYear = effortPerYear[year].effort %}

                <td>
                    {% if
                        year in projectService.parseEditYearRange(affiliation.project) and
                        (
                        hasProjectEditRights or
                        isAllowed(workpackage, 'edit-community') or
                        isAllowed(affiliation, 'edit-affiliation')
                        ) %}
                        <i class="fa pull-left"></i>
                        <a id="effort_{{ affiliation.id }}_{{ workpackage.id }}_{{ year }}"
                           href="#" class="workpackage" data-type="text"
                           data-pk="{{ affiliation.id }},{{ workpackage.id }},{{ year }}"
                           data-url="{{ url('json/update-effort') }}"
                           data-title="{{ translate("txt-update-effort") }}">{{ effortInCurrentYear|parse_effort }}</a>
                    {% else %}
                        <i class="fa pull-left"></i>
                        <span id="effort_{{ affiliation.id }}_{{ workpackage.id }}_{{ year }}"
                              class="workpackage"
                              rel="{{ year }}">{{ effortInCurrentYear|parse_effort }}</span>
                    {% endif %}
                    {% set totalPerWP = totalPerWP + effortInCurrentYear %}
                    {% endfor %}
                <th class="effort_total"><i class="fa pull-left"></i><span>{{ totalPerWP|parse_effort }}</span>
                </th>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="{{ 2 + years|length }}"></td>
            <th>{{ projectService.findTotalEffortByAffiliation(affiliation)|parse_effort }}</th>
        </tr>

        </tfoot>
    </table>

    {{ affiliationLink(affiliation, 'edit-cost-and-effort', 'button') }}

    <span class="pull-right">
         {{ projectLink(affiliation.project, 'edit-cost-and-effort-community', 'button') }}
    </span>
{% endif %}