<h2>{{ translate("txt-partner-description") }}</h2>

{% for description in affiliation.description %}
    <dl class="dl-horizontal">
        <dt>{{ translate("txt-description") }}</dt>
        <dd>{{ description.description|raw|nl2br }}</dd>
    </dl>
{% else %}
    {{ ztbalert().warning(translate("txt-no-description-found-for-%s")|format(
        affiliation.parseBranchedName()
    ))|raw }}
{% endfor %}

{{ affiliationLink(affiliation, 'edit-description','button') }}