<h2>{{ translate("txt-invoicing-details") }}</h2>

{% if affiliation.financial %}

    <dl class="dl-horizontal">
        <dt>{{ translate("txt-address-label") }}</dt>

        <dd>{{ organisationService.parseOrganisationWithBranch(affiliation.financial.branch, affiliation.financial.organisation) }}</dd>

        {% if affiliation.organisation.financial and  affiliation.organisation.financial.omitContact == constant("Organisation\\Entity\\Financial::NO_OMIT_CONTACT") %}
            <dd>{{ contactService.parseAttention(affiliation.financial.contact) }} {{ affiliation.financial.contact.parseFullName() }}</dd>
        {% endif %}

        {% if affiliation.financial.contact.department %}
            <dd>{{ affiliation.financial.contact.department }}</dd>
        {% endif %}

        {% set financialAddress = contactService.getFinancialAddress(affiliation.financial.contact) %}
        <dd>{{ financialAddress }}</dd>
        <dd>{{ financialAddress.zipcode }} {{ financialAddress.city }}</dd>
        <dd>{{ financialAddress.country|upper }}</dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>{{ translate("txt-vat-number") }}</dt>
        <dd>{{ affiliation.financial.organisation.financial.vat|default(translate("txt-vat-number-unknown")) }}</dd>

        <dt>{{ translate("txt-preferred-delivery") }}</dt>
        {% if affiliation.financial.organisation.financial.email == constant("Organisation\\Entity\\Financial::EMAIL_DELIVERY") %}
            <dd>{{ translate("txt-by-email-to-%s")|format(affiliation.financial.contact.email) }}</dd>
        {% else %}
            <dd>{{ translate("txt-by-postal-mail") }}</dd>
        {% endif %}
    </dl>

{% else %}
    {{ ztbalert().danger(translate("txt-we-have-no-financial-information-for-this-partner-%s")|format(affiliation))|raw }}
{% endif %}

{{ affiliationLink(affiliation, 'edit-financial','button') }}

{% if affiliation.invoice|length > 0 %}
    <h2>{{ translate("txt-partner-invoices") }}</h2>

    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-invoice-number") }}</th>
            <th>{{ translate("txt-invoice-date") }}</th>
            <th>{{ translate("txt-period") }}</th>
            <th>{{ translate("txt-amount") }}</th>
            <th>{{ translate("txt-status") }}</th>
            <th>{{ translate("txt-download") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for affiliationInvoice in affiliation.invoice %}
            {% if invoiceService.isSent(affiliationInvoice.invoice) %}
                <tr>
                    <td>{{ affiliationInvoice.invoice.invoiceNr }}</td>
                    <td>{{ affiliationInvoice.invoice.dateInvoice|date("d-m-Y") }}</td>
                    <td>{{ affiliationInvoice.year }}-{{ affiliationInvoice.period }}</td>
                    <td>{{ invoiceService.parseTotal(affiliationInvoice.invoice)|currency_decimal() }}</td>
                    <td>{{ invoiceService.parseStatus(affiliationInvoice.invoice)['name'] }}</td>
                    <td>{{ invoiceLink(affiliationInvoice.invoice,'download','icon') }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}