{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-doa-%s-in-%s")|format(
    doa.affiliation.parseBranchedName(),
    doa.affiliation.project.parseFullname()
)) %}

<h1>{{ translate("txt-edit-doa-%s-in-%s")|format(
        doa.affiliation.parseBranchedName(),
        doa.affiliation.project
    ) }}</h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}


<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-project-name") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ projectLink(doa.affiliation.project,'view-admin', 'name') }}</p>
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-affiliation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ affiliationLink(doa.affiliation,'view-community') }}</p>
    </div>
</div>

{% set doaForm = form.get('affiliation_entity_doa') %}

{{ lbs5formelement(doaForm.get('dateSigned')) }}
{{ contactformelement(doaForm.get('contact')) }}

{{ lbs5formelement(doaForm.get('dateApproved')) }}
{{ contactformelement(doaForm.get('approver')) }}

{{ lbs5formelement(doaForm.get('groupName')) }}
{{ lbs5formelement(doaForm.get('chamberOfCommerceNumber')) }}
{{ lbs5formelement(doaForm.get('chamberOfCommerceLocation')) }}

{% if doa.hasObject() %}
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">{{ translate("txt-download") }}</label>

        <div class="col-sm-9">
            <p class="form-control-plaintext">{{ affiliationDoaLink(doa,'download','text') }}</p>
        </div>
    </div>
{% endif %}

{{ lbs5formelement(doaForm.get('file')) }}

<hr>


<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('csrf')) }}
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
        {{ lbs5formelement(form.get('delete')) }}
    </div>
</div>

{{ form().closeTag()|raw }}