<h1>{{ translate("txt-add-contact-to-affiliation-%s-in-%s")|format(
    affiliationService.affiliation.organisation.organisation,
    projectService.parseFullName()
    ) }}</h1>

<p>{{ translate("txt-add-contact-to-affiliation-explanation") }}</p>

{% set organisationService = organisationServiceProxy(
affiliationService.affiliation.organisation
) %}

{% do form.prepare() %}

{{ form().openTag(form)|raw }}


<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-project-name") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ projectLink(projectService,'view-community', 'name') }}</p>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-affiliation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ affiliationLink(affiliationService.affiliation,'view-community') }}</p>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-country") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ affiliationService.affiliation.organisation.country }}</p>
    </div>
</div>

{{ ztbformelement(form.get('contact')) }}

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
