{% do headTitle().append(translate("txt-%s-in-%s")|format(affiliation.parseBranchedName(), affiliation.project.parseFullName())) %}
{% do headTitle().append(translate("txt-edit-financial")) %}

<h1>{{ translate("txt-edit-financial") }}</h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}


<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-project-name") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ projectLink(affiliation.project,'view-community', 'name') }}</p>
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-affiliation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ affiliationLink(affiliation,'view-community') }} ({{ affiliation.organisation.country }})</p>
    </div>
</div>

<fieldset>
    <legend>{{ translate("txt-organisation") }}</legend>
    {{ lbs5formelement(form.get('organisation')) }}
    {{ lbs5formelement(form.get('contact')) }}
    {{ lbs5formelement(form.get('registeredCountry')) }}
    {{ lbs5formelement(form.get('vat')) }}
</fieldset>

<fieldset>
    <legend>{{ translate("txt-billing-address") }}</legend>

    {{ lbs5formelement(form.get('emailCC')) }}
    {{ lbs5formelement(form.get('omitContact')) }}
    {{ lbs5formelement(form.get('address')) }}
    {{ lbs5formelement(form.get('zipCode')) }}
    {{ lbs5formelement(form.get('city')) }}
    {{ lbs5formelement(form.get('addressCountry')) }}
</fieldset>


{{ lbs5formelement(form.get('preferredDelivery')) }}

<hr>

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

<script type="text/javascript">
    $('select[name="contact"]').change(function () {
        $.ajax({
            url: '{{ url('community/contact/get-address-by-type') }}',
            type: 'get',
            dataType: 'json',
            data: {
                'id': $('select[name="contact"]').val(),
                'typeId': {{ constant("Contact\\Entity\\AddressType::ADDRESS_TYPE_FINANCIAL") }}

            },
            success: function (response) {
                $('textarea[name="address"]').val(response.address);
                $('input[name="zipCode"]').val(response.zipCode);
                $('input[name="city"]').val(response.city);
                $('select[name="country"]').val(response.country);
            },
            error: function (xhr) {
                alert('Error!  Status = ' + xhr.status);
            }
        });
    });
</script>
