{% do headTitle().append(translate("txt-update-effort-spent-for-affiliation-in-period-%s")|format(
affiliationService.affiliation.organisation.organisation,
report.parseName()
)) %}


<h1>{{ translate("txt-update-effort-spent-for-affiliation-in-period-%s")|format(
    affiliationService.affiliation.organisation.organisation,
    report.parseName()
    ) }}</h1>

{% do form.prepare() %}
{% do form.setAttribute('class','form-horizontal') %}

{{ form().openTag(form)|raw }}


<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-project-name") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ projectLink(projectService,'view-community', 'name') }}</p>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-affiliation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ affiliationLink(affiliationService.affiliation,'view-community') }}</p>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-report") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ reportLink(report,'report-community', 'name') }}</p>
    </div>
</div>

{{ ztbformelement(form.get('summary')) }}

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-planned-effort") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ totalPlannedEffort }} [{{ translate("txt-py") }}]</p>
    </div>
</div>



{{ ztbformelement(form.get('effort')) }}
{{ ztbformelement(form.get('comment')) }}


<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">

        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
