{%  if questionnaire.questionnaireQuestions|length > 0 %}
<table class="table table-hover table-striped table-sm">
    <thead>
    <tr>
        <th>{{ translate("txt-sequence") }}</th>
        <th>{{ translate("txt-question") }}</th>
        <th>{{ translate("txt-category") }}</th>
        <th>{{ translate("txt-input-type") }}</th>
        <th>{{ translate("txt-required") }}</th>
        <th>{{ translate("txt-enabled") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for questionnaireQuestion in questionnaire.questionnaireQuestions %}
        {% set question = questionnaireQuestion.question %}
        <tr>
            <td>{{ questionnaireQuestion.sequence }}</td>
            <td>{{ affiliationQuestionLink(question, 'view', 'name', 50) }}</td>
            <td>{{ affiliationQuestionCategoryLink(question.category, 'view', 'name') }}</td>
            <td>{{ translate(question.getInputTypeTemplates()[question.inputType]) }}</td>
            <td>{% if question.required %}{{ translate("txt-yes") }}{% else %}{{ translate("txt-no") }}{% endif %}</td>
            <td>{% if question.enabled %}{{ translate("txt-yes") }}{% else %}{{ translate("txt-no") }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    {{ lbs5alert().info(translate("txt-no-questions-could-be-found"))|raw }}
{%  endif %}