{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-affiliation")) %}
{% do headTitle().append(translate("txt-affiliation-questionnaire-%s")|format(questionnaire)) %}

<h1>{{ translate("txt-affiliation-questionnaire-%s")|format(questionnaire) }} {{ affiliationQuestionnaireLink(questionnaire,'edit-admin','button') }} {{ affiliationQuestionnaireLink(questionnaire, 'copy-admin', 'button') }}</h1>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-questionnaire-id") }}</dt>
    <dd>{{ questionnaire.id }}</dd>
    <dt>{{ translate("txt-questionnaire") }}</dt>
    <dd>{{ questionnaire.questionnaire }}</dd>
    <dt>{{ translate("txt-organisation-type") }}</dt>
    <dd>{{ organisationTypeLink(questionnaire.organisationType, 'view') }}</dd>
    <dt>{{ translate("txt-call") }}</dt>
    <dd>{{ callLink(questionnaire.programCall, 'view-admin') }}</dd>
    <dt>{{ translate("txt-phase") }}</dt>
    <dd>{{ questionnaire.phase.phase }}</dd>
</dl>

<h2>{{ translate("txt-questions") }}</h2>

{% include 'affiliation/questionnaire/questionnaire-manager/partial/questions' %}