{% do headTitle().append(translate(affiliation.project.parseFullname())) %}
{% do headTitle().append(translate("txt-upload-doa-title")) %}

<h1>{{ translate("txt-submit-declaration-of-acceptance-for-%s-in-%s")|format(affiliation.organisation,affiliation.project) }}</h1>
{% if not doa %}

    {{ translate("txt-submit-doa-introduction-text") }}

    {% do form.prepare() %}
    {{ form().openTag(form)|raw }}

    {# only show the digital version when the DoAcontent is there #}
    {% if doaContent %}
        <fieldset>
            <legend>{{ translate("txt-doa-sign-digital-version") }}</legend>

            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <p>{{ translate("txt-please-read-the-text-below-before-signing-the-doa") }}</p>
                    <div style="background-color: #f8f8f8; padding: 10px;">

                        {{ doaContent|raw }}

                    </div>
                </div>
            </div>

            <div class="form-group {% if form.get('selfApprove').getMessages() %}has-error{% endif %}">
                <div class="offset-sm-3 col-sm-9">
                    <div class="checkbox">
                        <label>
                            {{ formelement(form.get('selfApprove')) }} {{ translate("txt-self-approve-doa-checkbox-help-text") }}
                        </label>
                    </div>
                    {% if form.get('selfApprove').getMessages() %}
                        <div class="invalid-feedback">{{ translate("txt-please-check-the-box-above-to-digitally-sign-the-doa") }}</div>{% endif %}

                </div>
            </div>


            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    {{ ztbformelement(form.get('sign')) }}
                </div>
            </div>
        </fieldset>
        <hr>
    {% endif %}

    <fieldset>
        {% if doaContent %}
        <legend>{{ translate("txt-sign-and-upload-paper-version") }}</legend>
        {% endif  %}

        <div class="form-group row">
            <label class="col-sm-3 col-form-label">{{ translate("txt-project") }}</label>

            <div class="col-sm-9">
                <p class="form-control-plaintext">{{ projectLink(affiliation.project,'view-community','name') }}
                    ({{ affiliation.project.call.program }})</p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label">{{ translate("txt-organisation") }}</label>

            <div class="col-sm-9">
                <p class="form-control-plaintext">{{ affiliation.organisation }}</p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label">{{ translate("txt-download-doa") }}</label>

            <div class="col-sm-9">
                <p class="form-control-plaintext">{{ translate("txt-download-doa-link-text") }}</p>
            </div>
        </div>

        {{ ztbformelement(form.get('file')) }}

        <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                {{ ztbformelement(form.get('upload')) }}
                {{ ztbformelement(form.get('cancel')) }}
            </div>
        </div>
    </fieldset>

    {{ form().closeTag()|raw }}
{% endif %}


{% if doa %}
    {% if doa.dateApproved %}
        <div class="alert alert-block alert-success">
            <div class="alert-heading"><h4>{{ translate("txt-doa-already-approved") }}</h4></div>
            <p>{{ translate("txt-doa-for-organisation-%s-in-project-%s-has-already-been-approved-on-%s")|format(
                    doa.affiliation.organisation, doa.affiliation.project, doa.dateApproved|date("d-m-Y")) }}</p>
        </div>
    {% else %}
        <div class="alert alert-block alert-warning">
            <div class="alert-heading"><h4>{{ translate("txt-doa-waiting-for-approval") }}</h4></div>
            <p>{{ translate("txt-doa-for-organisation-%s-in-project-%s-has-already-been-submitted-on-%s-and-is-waiting-for-approval")|format(
                    doa.affiliation.organisation, doa.affiliation.project, doa.dateSigned|date("d-m-Y")) }}</p>
        </div>
    {% endif %}

    <dl class="dl-horizontal">
        <dt>{{ translate("txt-contact") }}</dt>
        <dd>{{ identity().displayName() }}</dd>
        {% if not doa.object.isEmpty() %}
            <dt>{{ translate("txt-download-doa") }}</dt>
            <dd>{{ affiliationDoaLink(doa,'download', 'text') }}</dd>
        {% endif %}
    </dl>

    {{ affiliationDoaLink(doa,'replace','button') }}
{% endif %}
