{% do headTitle().append(translate("txt-upload-doa-title")) %}

{% set project = affiliation.project %}

<h1>{{ translate("txt-upload-doa-for-organisation-%s-for-project-%s")|
    format(affiliation.organisation, project)|raw }}</h1>

{% do form.prepare() %}
{% do form.setAttribute('class','form-horizontal') %}

{{ form().openTag(form)|raw }}

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-project") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ projectLink(project,'view-community','name') }}
            ({{ project.call.program }})</p>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-organisation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ affiliation.organisation }}</p>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-download-doa") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ translate("txt-download-doa-link-text") }}</p>
    </div>
</div>


{{ ztbformelement(form.get('file')) }}


<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit'))|raw }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
