{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-loi-%s-in-%s")|format(
    loi.affiliation.parseBranchedName(),
    loi.affiliation.project
    )) %}

{% do headLink().appendStylesheet(
    '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css'
    ) %}

<h1>{{ translate("txt-edit-loi-%s-in-%s")|format(
        loi.affiliation.parseBranchedName(),
        loi.affiliation.project
    ) }}</h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}


<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-project-name") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ projectLink(loi.affiliation.project,'view-admin', 'name') }}</p>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-affiliation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ affiliationLink(loi.affiliation,'view-community') }}</p>
    </div>
</div>

{% set loiForm = form.get('affiliation_entity_loi') %}

{{ ztbformelement(loiForm.get('dateSigned')) }}
{{ ztbformelement(loiForm.get('dateApproved')) }}
{{ contactformelement(loiForm.get('approver')) }}
{{ contactformelement(loiForm.get('contact')) }}

{% if loi.hasObject() %}
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{ translate("txt-download-current-loi") }}</label>

        <div class="col-sm-9">
            <p class="form-control-plaintext">{{ loiLink(loi,'download','text') }}</p>
        </div>
    </div>
{% endif %}

{{ ztbformelement(loiForm.get('file')) }}
{{ formelement(form.get('csrf')) }}

<div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
        {{ ztbformelement(form.get('delete')) }}
    </div>
</div>

{{ form().closeTag()|raw }}


<script type="text/javascript">
    $('input[type=date]').datepicker({
        sliderAccessArgs: {touchonly: false},
        dateFormat: 'yy-mm-dd'
    });
</script>
