{% include 'affiliation/admin/manger/tabs' %}

<h2>{{ translate("txt-partner-market-access") }}</h2>

{% if affiliation.marketAccess %}
    <dl class="dl-horizontal">
        <dt>{{ translate("txt-market-access") }}</dt>
        <dd>{{ affiliation.marketAccess|nl2br }}</dd>
    </dl>
{% else %}
    {{ ztbalert().warning(translate("txt-no-market-access-found-for-%s")|format(
        affiliation.parseBranchedName()
    ))|raw }}
{% endif %}

{{ affiliationLink(affiliation, 'edit-market-access-admin','button') }}