{% set project = affiliation.project %}
{% set organisation = affiliation.organisation %}

{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-affiliation")) %}
{% do headTitle().append(translate("txt-%s-in-%s")|format(affiliation.parseBranchedName(),project.parseFullName())) %}

{% do headLink().appendStylesheet(url('assets/funding-status-css')) %}

{# Produce the link first to have the resource :) #}
{% set affiliationLink = %}
{% set years = projectService.parseYearRange(affiliation.project, true) %}

<h1>{{ affiliation.parseBranchedName() }}</h1>

<p class="lead">{{ translate("txt-partner-in-%s")|format(
        project.parseFullName()
    ) }} {{ affiliationLink(affiliation,'view-community', 'icon') }}</p>

{% if affiliation.dateEnd %}
    {{ ztbalert().danger(translate("txt-affiliation-%s-has-been-deactivated-on-%s-date"))|format(
        affiliation,
        affiliation.dateEnd|string_date
    )|raw }}
{% endif %}

{% if affiliation.isSelfFunded() %}
    {{ ztbalert().success(translate("txt-affiliation-%s-is-self-funded"))|format(
        affiliation.parseBranchedName()
    )|raw }}
{% endif %}

{% if affiliation.selfFunded is constant("Affiliation\\Entity\\Affiliation::SELF_FUNDED") and not affiliation.dateSelfFunded %}
    {{ ztbalert().info(translate("txt-affiliation-%s-is-indicated-as-self-funded-but-not-yet-approved-by-the-office"))|format(
        affiliation
    )|raw }}
{% endif %}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active"><a class="nav-link active" href="#details"
                                   data-toggle="tab">{{ translate("txt-partner-details") }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#description"
                            data-toggle="tab">{{ translate("txt-description") }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#market-access"
                            data-toggle="tab">{{ translate("txt-market-access") }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#associates" data-toggle="tab">{{ translate("txt-associates") }}</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="#financial" data-toggle="tab">{{ translate("txt-financial") }}</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="#paymentsheet"
                            data-toggle="tab">{{ translate("txt-payment-sheet") }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#invoice" data-toggle="tab">{{ translate("txt-invoices") }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#version" data-toggle="tab">{{ translate("txt-version") }}</a></li>
    {% if affiliation.hasContractVersion() %}
        <li class="nav-item"><a class="nav-link" href="#contract"
                                data-toggle="tab">{{ translate("txt-national-contract") }}</a>
        </li>
    {% endif %}
    <li class="nav-item"><a class="nav-link" href="#funding" data-toggle="tab">{{ translate("txt-funding") }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#report" data-toggle="tab">{{ translate("txt-reporting") }}</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane" role="tabpanel" id="financial">


        <h2>{{ translate("txt-invoicing-details") }}</h2>

        {% if affiliation.financial %}
            <dl class="dl-horizontal">
                <dt>{{ translate("txt-billing-organisation") }}</dt>
                <dd>{{ organisationLink(affiliation.financial.organisation,'view-admin','name') }}</dd>
                <dt>{{ translate("txt-country") }}</dt>
                <dd>{{ affiliation.financial.organisation.country }}</dd>
                <dt>{{ translate("txt-financial-contact") }}</dt>
                <dd>{{ contactLink(affiliation.financial.contact, 'view-admin','name') }}</dd>


                <dt>{{ translate("txt-address-label") }}</dt>
                <dd>{{ organisationService.parseOrganisationWithBranch(affiliation.financial.branch, affiliation.financial.organisation) }}</dd>

                {% if organisation.financial.omitContact == constant("Organisation\\Entity\\Financial::NO_OMIT_CONTACT") %}
                    <dd>{{ contactService.parseAttention(affiliation.financial.contact) }} {{ affiliation.financial.contact.parseFullName() }}</dd>
                {% endif %}

                {% if contact.department %}
                    <dd>{{ contact.department }}</dd>
                {% endif %}

                {% set financialAddress = contactService.getFinancialAddress(affiliation.financial.contact) %}
                <dd>{{ financialAddress.address }}</dd>
                <dd>{{ financialAddress.zipcode }} {{ financialAddress.city }}</dd>
                <dd>{{ financialAddress.country|upper }}</dd>

                <dt>{{ translate("txt-vat-number") }}</dt>
                {% if affiliation.financial.organisation.financial %}
                    <dd>{{ affiliation.financial.organisation.financial.vat }}</dd>
                {% else %}
                    <dd>{{ translate("txt-no-finanical-organisation-for-%s")|format(affiliation.financial.organisation) }}</dd>
                {% endif %}


                <dt>{{ translate("txt-preferred-delivery") }}</dt>
                {% if organisation.financial.email == constant("Organisation\\Entity\\Financial::EMAIL_DELIVERY") %}
                    <dd>{{ translate("txt-by-email-to-%s")|format(affiliation.financial.contact.email) }}</dd>
                {% else %}
                    <dd>{{ translate("txt-by-postal-mail") }}</dd>
                {% endif %}
            </dl>

        {% else %}
            {{ ztbalert().danger(translate("txt-we-have-no-billing-information-for-this-partner-%s")|format(affiliation))|raw }}
        {% endif %}

        {{ affiliationLink(affiliation, 'edit-financial','button') }}
    </div>
    <div class="tab-pane" role="tabpanel" id="paymentsheet">
        <br>
        <ul class="nav nav-pills" role="tablist">
            {% for paymentSheetPeriod in affiliationService.parsePaymentSheetPeriods(affiliation) %}
                <li role="presentation" class="nav-item">

                    <a href="#{{ paymentSheetPeriod.id }}" aria-controls="home" role="tab"
                       class="nav-link  {% if paymentSheetPeriod.active or (loop.last and paymentSheetPeriod.active) %}active{% endif %}"
                       data-toggle="tab">{{ paymentSheetPeriod.label }}</a></li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for paymentSheetPeriod in affiliationService.parsePaymentSheetPeriods(affiliation) %}
                <div role="tabpanel" id="{{ paymentSheetPeriod.id }}"
                     class="tab-pane {% if paymentSheetPeriod.active %}active{% endif %}">
                    {{ paymentSheet(affiliation, paymentSheetPeriod.year, paymentSheetPeriod.period) }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane" role="tabpanel" id="version">
        <h2>{{ translate("txt-version-information") }}</h2>

        {% if affiliation.version.count() > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th colspan="2">{{ translate("txt-version") }}</th>
                    <th>{{ translate("txt-affiliation-version") }}</th>
                    <th>{{ translate("txt-status") }}</th>
                    <th>{{ translate("txt-date-reviewed") }}</th>
                    <th class="text-right">{{ translate("txt-total-effort") }}</th>
                    <th class="text-right">{{ translate("txt-total-cost") }}</th>
                    <th class="text-right">{{ translate("txt-total-contract-cost") }}</th>
                    <th class="text-right">{{ translate("txt-funding-national") }}</th>
                    <th class="text-right">{{ translate("txt-funding-eu") }}</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="10"></td>
                </tr>
                </tfoot>
                <tbody>
                {% for affiliationVersion in affiliation.version %}
                    <tr>
                        {% set version = affiliationVersion.version %}
                        <td><small class="text-muted">{{ version.id }}</small></td>
                        <td>{{ versionLink(version,'general-admin','description') }}</td>
                        <td><small class="text-muted">{{ affiliationVersion.id }}</small></td>
                        <td>{{ versionService.parseStatus(version) }}</td>
                        <td>{{ version.dateReviewed|string_date }}</td>
                        <td class="text-right">{{ versionService.findTotalEffortVersionByAffiliationAndVersion(affiliationVersion.affiliation, version)|parse_effort }}</td>
                        <td class="text-right">{{ versionService.findTotalCostVersionByAffiliationAndVersion(affiliationVersion.affiliation, version)|currency_decimal }}</td>
                        <td class="text-right">
                            {% if affiliationVersion.hasContractVersion() %}
                                {{ contractVersionLink(affiliationVersion.contractVersion.version,'view','icon') }}
                                {{ versionService.findTotalCostVersionByAffiliationAndVersionIncludingContract(affiliationVersion.affiliation, version, true)|currency_decimal(affiliationVersion.contractVersion.version.contract.currency) }}
                            {% endif %}
                        </td>
                        <td class="text-right">{{ versionService.findTotalFundingNationalVersionByAffiliationAndVersion(affiliationVersion.affiliation, version)|parse_funding }}</td>
                        <td class="text-right">{{ versionService.findTotalFundingEuVersionByAffiliationAndVersion(affiliationVersion.affiliation, version)|parse_funding }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ ztbalert().info(translate("txt-there-are-no-versions-for-project-%s")|format(affiliation.project))|raw }}
        {% endif %}


        <h2>{{ translate("txt-costs-and-effort-overview") }}</h2>
        <table class="table table-hover table-striped table-sm">
            <thead>
            <tr>
                <th colspan="2">{{ translate("txt-type") }}</th>

                {% for year in projectService.parseYearRange(project, true) %}
                    <th class="text-right">
                        {% if projectService.isOutOfBounds(project, year) %}<span
                            class="text-danger"
                            title="{{ translate("txt-the-project-is-not-active-in-this-year") }}">{{ year }}</span>
                        {% else %}
                            {{ year }}
                        {% endif %}
                    </th>
                {% endfor %}
                <th class="text-right">{{ translate("txt-total") }}</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="{{ 3 + projectService.parseYearRange(project, true)|length }}"></td>
            </tr>
            </tfoot>
            <tbody>
            {% for affiliationVersion in affiliation.version %}
                {% set version = affiliationVersion.version %}
                <tr>
                    <th colspan="{{ 4 + projectService.parseYearRange(project, true)|length }}">
                        {{ versionLink(version,'general-admin','description') }}</th>
                </tr>
                <tr>
                    <td>
                        <small class="text-muted">{{ version.id }}</small> {{ versionService.parseStatus(affiliationVersion.version) }}
                    </td>
                    <td>{{ translate("txt-effort") }}</td>

                    {% for year in projectService.parseYearRange(project, true) %}
                        {% set yearTotal = versionService.findTotalEffortVersionByAffiliationAndVersionPerYear(affiliation, version)[year] %}
                        <td class="text-right">{{ yearTotal|parse_effort }}</td>
                    {% endfor %}
                    <td class="text-right">{{ versionService.findTotalEffortVersionByAffiliationAndVersion(affiliation, version)|parse_effort }}</td>
                </tr>
                <tr>

                    <td></td>
                    <td>{{ translate("txt-costs") }}</td>

                    {% for year in years %}

                        {% set yearTotal = versionService.findTotalCostVersionByAffiliationAndVersionPerYear(affiliation, version, 'objects')[year] %}

                        <td class="text-right">

                            {# find the affiliationVersion by going over the versions, #}
                            {% set affiliationVersionId = null %}
                            {% for affiliationVersion in version.affiliationVersion|filter(affiliationVersion => affiliationVersion.affiliation.id == affiliation.id) -%}
                                {% set affiliationVersionId = affiliationVersion.id %}
                            {% endfor %}

                            <a
                                    class="text-primary cost-edit single-cost"
                                    data-year="{{ year }}"
                                    data-version="{{ version.id }}"
                                    data-affiliation-version="{{ affiliationVersionId }}"
                                    data-type="text"
                                    data-pk=""
                                    data-params="{'year':{{ year }},'affiliationVersion':{{ affiliationVersionId }}}"
                                    data-url="{{ url('json/project/cost/update-version') }}"
                                    data-title="{{ translate("txt-update-costs") }}">{{ yearTotal.costs|parse_cost }}</a>
                        </td>
                    {% endfor %}
                    <th class="text-right cost-version-total"
                        data-version="{{ version.id }}">{{ versionService.findTotalCostVersionByAffiliationAndVersion(affiliation, version)|parse_cost }}</th>
                </tr>

                {% if affiliationVersion.hasContractVersion %}
                    {% set contractVersion = affiliationVersion.contractVersion %}
                    <tr>

                        <td></td>
                        <td>{{ translate("txt-contract") }} {{ contractVersionLink(contractVersion.version,'view','icon') }}</td>
                        {% for year in years %}
                            {% set contractVersionCost = contractService.findTotalCostByAffiliationInVersionPerYear(contractVersion.version, affiliation) %}
                            <td class="text-right">{{ contractVersionCost[year]|currency_decimal(contractVersion.version.contract.currency) }}</td>
                        {% endfor %}
                        <th class="text-right">{{ contractService.findTotalCostVersionByAffiliationAndVersion(affiliation, contractVersion.version)|currency_decimal(contractVersion.version.contract.currency) }}</th>
                    </tr>
                {% endif %}

            {% endfor %}

            <tr>
                <th colspan="{{ 4 + projectService.parseYearRange(affiliation.project)|length }}">{{ translate("txt-draft") }}</th>
            </tr>
            <tr>
                <td></td>
                <td>{{ translate("txt-effort") }}</td>

                {% for year in years %}
                    {% set yearTotal = projectService.findTotalEffortByAffiliationPerYear(affiliation)[year] %}

                    <td class="text-right">{{ yearTotal|parse_effort }}</td>
                {% endfor %}
                <th class="text-right">{{ projectService.findTotalEffortByAffiliation(affiliation)|parse_effort }}</th>
            </tr>
            <tr>
                <td></td>
                <td>{{ translate("txt-costs") }}</td>

                {% for year in years %}
                    {% set yearTotal = projectService.findCostByAffiliationAndYear(affiliation, year) %}

                    <td class="text-right">
                        <a class="text-primary cost-edit single-cost"
                           data-year="{{ year }}"
                           data-version="0"
                           data-affiliation-version="{{ affiliationVersionId }}"
                           data-type="text"
                           data-pk=""
                           data-params="{'year':{{ year }},'affiliation':{{ affiliation.id }}}"
                           data-url="{{ url('json/project/cost/update-draft') }}"
                           data-title="{{ translate("txt-update-costs") }}">{{ yearTotal.costs|parse_cost }}</a>
                    </td>
                {% endfor %}
                <th class="text-right cost-version-total"
                    data-version="0">{{ projectService.findTotalCostByAffiliation(affiliation)|parse_cost }}</th>
            </tr>
            {% if affiliationService.useActiveContract(affiliation) %}
                {% set contractVersion = contractService.findLatestContractVersionByAffiliation(affiliation) %}
                <tr>

                    <td></td>
                    <td>{{ translate("txt-contract") }} {{ contractVersionLink(contractVersion,'view','icon') }}</td>
                    {% for year in years %}
                        {% set contractVersionCost = contractService.findTotalCostByAffiliationInVersionPerYear(contractVersion, affiliation) %}
                        <td class="text-right">{{ contractVersionCost[year]|currency_decimal(contractVersion.contract.currency) }}</td>
                    {% endfor %}
                    <th class="text-right">{{ contractService.findTotalCostVersionByAffiliationAndVersion(affiliation, contractVersion)|currency_decimal(contractVersion.contract.currency) }}</th>
                </tr>
            {% endif %}
            <tr>
                <td></td>
                <td>{{ translate("txt-funding-national") }}</td>
                <td class="text-right" colspan="{{ years|length + 1 }}">
                    &euro; <a
                            class="text-primary funding-edit"
                            data-type="text"
                            data-params="{'affiliation':{{ affiliation.id }}, 'type': 'funding_national'}"
                            data-pk=""
                            data-url="{{ url('json/project/funding/update-draft') }}"
                            data-title="{{ translate("txt-update-funding-eu") }}">{{ projectService.findTotalFundingNationalByAffiliation(affiliation) }}
                    </a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>{{ translate("txt-funding-eu") }}</td>
                <td class="text-right" colspan="{{ years|length  + 1 }}">
                    &euro; <a
                            class="text-primary funding-edit"
                            data-type="text"
                            data-params="{'affiliation':{{ affiliation.id }}, 'type': 'funding_eu'}"
                            data-pk=""
                            data-url="{{ url('json/project/funding/update-draft') }}"
                            data-title="{{ translate("txt-update-funding-eu") }}">{{ projectService.findTotalFundingEuByAffiliation(affiliation) }}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" role="tabpanel" id="contract">


        {% for contract in affiliation.contract %}
            <h2>{{ translate("txt-contract") }}</h2>

            <dl class="dl-horizontal">
                <dt>{{ translate("txt-contract-country") }}</dt>
                <dd>{{ projectContractLink(contract,'view','country') }}</dd>
                <dt>{{ translate("txt-project") }}</dt>
                <dd>{{ projectLink(contract.project,'view-admin','name') }}</dd>
                <dt>{{ translate("txt-country") }}</dt>
                <dd>{{ countryLink(contract.country,'view-admin','iso3') }}</dd>
                <dt>{{ translate("txt-currency") }}</dt>
                <dd>{{ contract.currency.name }} ({{ contract.currency.symbol }})</dd>
                <dt>{{ translate("txt-contact") }}</dt>
                <dd>{{ contactLink(contract.contact,'view-admin', 'name') }} <a
                            href="mailto:{{ contract.contact.email }}"><i
                                class="far fa-envelope"></i></a>
                    {{ contactLink(contract.contact,'view-admin','icon') }}</dd>
                <dt>{{ translate("txt-date-start") }}</dt>
                <dd>{{ contract.dateStart|date('d-m-Y') }}</dd>
                <dt>{{ translate("txt-date-end") }}</dt>
                <dd>{{ contract.dateEnd|date('d-m-Y') }}</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>{{ translate("txt-involved-partners") }}</dt>
                {% for affiliation in contract.affiliation %}
                    <dd>{{ affiliationLink(affiliation,'view-admin') }} ({{ affiliation.organisation.country.iso3 }})
                    </dd>
                {% endfor %}
            </dl>
        {% endfor %}
    </div>
    <div class="tab-pane" role="tabpanel" id="funding">
        <h2>{{ translate("txt-funding") }}</h2>

        {% if affiliation.funding.count() > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>{{ translate("txt-date-from") }}</th>
                    <th>{{ translate("txt-date-until") }}</th>
                    <th>{{ translate("txt-source") }}</th>
                    <th>{{ translate("txt-status") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for funding in affiliation.funding %}
                    <tr>
                        <td>{{ funding.dateStart|date("d-m-Y") }}</td>
                        <td>{{ funding.dateEnd|date("d-m-Y") }}</td>
                        <td>{{ funding.source }}</td>
                        <td class="funding-status {{ funding.status.parseCssName }}">{{ funding.status.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ ztbalert().info(translate("txt-there-is-no-information-for-funding-available-for-%s")|format(affiliation))|raw }}
        {% endif %}
    </div>
    <div class="tab-pane" role="tabpanel" id="report">

        <h2>{{ translate("txt-progress-report-information") }}</h2>

        {% if project.report.count() > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>{{ translate("txt-report") }}</th>
                    <th>{{ translate("txt-contact") }}</th>
                    <th>{{ translate("txt-effort-planned") }}</th>
                    <th>{{ translate("txt-effort-spent") }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for report in project.report %}
                    {% set effortSpent = reportService.findEffortSpentByReportAndAffiliation(report, affiliation) %}

                    {% if latestVersion %}
                        {% set totalPlannedEffort = versionService.findTotalEffortByAffiliationAndVersionUpToReportingPeriod(
                            affiliation,
                            latestVersion,
                            report) %}
                    {% endif %}

                    <tr {% if report.dateFinal %}class="table-success"{% endif %}>
                        <td>{{ reportLink(report,'report-admin', 'name') }}</td>
                        <td>{{ contactLink(report.contact,'view-admin','name') }}</td>
                        <td>{{ totalPlannedEffort|parse_effort }} [{{ translate("txt-py") }}]</td>
                        {% if effortSpent %}
                            <td {% if effortSpent.comment|length > 0 %}title="{{ effortSpent.comment }}{% endif %}">{{ effortSpent.effort|parse_effort }}
                                [{{ translate("txt-py") }}]
                            </td>
                            <td>
                                {% if not report.dateFinal %}{{ affiliationEffortSpentLink(affiliation, 'text', report) }}{% endif %}</td>
                        {% else %}
                            <td></td>
                            <td>{% if not report.dateFinal %}{{ affiliationEffortSpentLink(affiliation, 'button', report) }}{% endif %}</td>
                        {% endif %}
                    </tr>
                    {% if effortSpent %}
                        <tr>
                            <td></td>
                            <td colspan="4"><strong>{{ translate("txt-main-contributions") }}
                                    : </strong>{{ effortSpent.summary|nl2br|default(translate("txt-not-provided")) }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ ztbalert().info(translate("txt-no-effort-spent-has-been-provided-for-%s-in-%s")|format(affiliation,project.parseFullname()))|raw }}
        {% endif %}

        <h2>{{ translate("txt-exploitation-related-achievement") }}</h2>

        {% if affiliation.achievement.count > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>{{ translate("txt-achievement") }}</th>
                    <th>{{ translate("txt-date") }}</th>
                    <th>{{ translate("txt-status") }}</th>
                    <th>{{ translate("txt-category") }}</th>
                    <th>{{ translate("txt-type") }}</th>
                    <th>{{ translate("txt-contact") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for achievement in affiliation.achievement %}
                    <tr>
                        <td>
                            {{ achievementLink(achievement,'view-admin', 'name') }}
                        </td>
                        <td>{{ achievement.dateCreated|string_date }} {% if latestReviewMeeting and latestReviewMeeting.dateEnd < result.dateCreated %}
                                <span class="label label-primary">{{ translate("txt-new") }}</span>{% endif %}</td>
                        <td>{{ translate(achievement.getStatus(true)) }}</td>
                        <td>{{ achievement.type.category }}</td>
                        <td>{{ achievement.type }}</td>
                        <td>{{ achievement.contact.displayName }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            {{ ztbalert().info(translate("txt-no-exploitation-related-achievements-were-created-for-%s-in-%s")|format(affiliation,project.parseFullname()))|raw }}
        {% endif %}

        {{ achievementLink(null, 'create', 'button', affiliation) }}
    </div>
    <div class="tab-pane" role="tabpanel" id="invoice">

        <h2>{{ translate("txt-partner-invoices") }}</h2>

        {% if affiliation.invoice.count() > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>{{ translate("txt-invoice-number") }}</th>
                    <th>{{ translate("txt-invoice-date") }}</th>
                    <th>{{ translate("txt-period") }}</th>
                    <th>{{ translate("txt-amount") }}</th>
                    <th>{{ translate("txt-status") }}</th>
                    <th>{{ translate("txt-download") }}</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="6"></td>
                </tr>
                </tfoot>
                <tbody>
                {% for affilaitionInvoice in affiliation.invoice %}
                    <tr>
                        <td>{{ invoiceLink(affilaitionInvoice.invoice,'view','invoice') }}</td>
                        <td>{{ affilaitionInvoice.invoice.dateInvoice|date("d-m-Y") }}</td>
                        <td>{{ affilaitionInvoice.year }}-{{ affilaitionInvoice.period }}</td>
                        <td>{{ invoiceService.parseTotal(affilaitionInvoice.invoice)|currency_decimal() }}</td>
                        <td>{{ invoiceService.parseStatus(affilaitionInvoice.invoice, true) }}</td>
                        <td>{{ invoiceLink(invoice,'download','icon') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ ztbalert().info(translate("txt-no-invoices-were-created-for-%s-in-%s")|format(affiliation,project.parseFullname()))|raw }}
        {% endif %}
    </div>
</div>


<script>
    /**
     * Calculate the sum per year
     */
    $(function () {
        //turn to inline mode
        $.fn.editable.defaults.mode = 'popup';

        $('.cost-edit').editable({
            'emptytext': 0,
            'success': function (response, value) {
                if (!response.success) {
                    return response.errors;
                }
                //Inject the value in the element (needed for sum)
                $(this).html(response.data.value);
                updateTotalCosts();
            }
        });

        function updateTotalCosts() {
            let $totalPerVersion = [];
            $('.single-cost').each(function (key, singleCost) {
                let $singleCost = $(singleCost);
                let $val = parseFloat($singleCost.html() === '' ? 0 : $singleCost.html());
                let $version = $(singleCost).data('version');

                if (!($version in $totalPerVersion)) {
                    $totalPerVersion[$version] = 0;
                }

                $totalPerVersion[$version] += $val;
            });

            $totalPerVersion.forEach(function ($totalCost, $version) {
                $('.cost-version-total[data-version="' + $version + '"]').html($totalCost.toFixed(2));
            });
        }

        $('.funding-edit').editable();
    });
</script>