{% include 'affiliation/affiliation/tabs' %}

<div class="row">
    <div class="col-md-10">
        <h2>{{ translate("txt-affiliation-information") }}</h2>

        <dl class="dl-horizontal">
            <dt>{{ translate("txt-project-name") }}</dt>
            <dd>{{ projectLink(project,'view-community', 'name') }}</dd>
            <dt>{{ translate("txt-project-title") }}</dt>

            <dd>{{ project.title }} ({{ projectService.parseStatus(project) }})</dd>
            <dt>{{ translate("txt-role-in-the-project") }}</dt>

            <dd>{{ affiliation.valueChain|default('<i class="fas fa-exclamation-circle text-warning"></i>')|raw }}</dd>
            <dt>{{ translate("txt-main-contributions") }}</dt>
            <dd>{{ affiliation.mainContribution|nl2br|default('<i class="fas fa-exclamation-circle text-warning"></i>')|raw }}</dd>

            {% if projectService.hasTasksAndAddedValue(project) %}
                <dt>{{ translate("txt-tasks-and-added-value") }}</dt>
                <dd>{{ affiliation.tasksAndAddedValue|nl2br|default('<i class="fas fa-exclamation-circle text-warning"></i>')|raw }}</dd>
            {% endif %}

            <dt>{{ translate("txt-strategic-importance") }}</dt>
            <dd>{{ affiliation.strategicImportance|nl2br|default('<i class="fas fa-exclamation-circle text-warning"></i>')|raw }}</dd>
        </dl>

        <dl class="dl-horizontal">

            {% if project.call.requireDoaPerProgram %}
                <dt>{{ translate("txt-program-declaration-of-acceptance") }}</dt>
                {% if affiliation.parentOrganisation %}
                    <dd>{% for doa in affiliation.parentOrganisation.parent.doa|filter(doa => doa.program.id == project.call.program.id) -%}
                            {% if programDoa.dateApproved is null %}
                                {{ translate("txt-doa-received-on-%s-but-waiting-for-approval")|format(doa.dateCreated|date("d-m-Y"))|raw }}
                                {{ parentDoaLink(doa,'replace','icon') }}
                                {{ parentDoaLink(doa,'download','icon') }}
                            {% else %}
                                {{ translate("txt-doa-received-and-approved-on-%s")|format(doa.dateApproved|date("d-m-Y"))|raw }}
                                {{ parentDoaLink(doa,'download','icon') }}
                            {% endif %}
                        {% else %}
                            {{ translate("txt-no-doa-could-be-found-for-%s")|format(project.call.program) }}
                        {% endfor %}
                    </dd>
                {% else %}
                    <dd>{% for programDoa in affiliation.organisation.programDoa|filter(programDoa => programDoa.program.id == project.call.program.id) -%}
                            {% if programDoa.dateApproved is null %}
                                {{ translate("txt-doa-received-on-%s-but-waiting-for-approval")|format(programDoa.dateCreated|date("d-m-Y"))|raw }}
                                {{ programDoaLink(programDoa,'replace','icon') }}
                                {{ programDoaLink(programDoa,'download','icon') }}
                            {% else %}
                                {{ translate("txt-doa-received-and-approved-on-%s")|format(programDoa.dateApproved|date("d-m-Y"))|raw }}
                                {{ programDoaLink(programDoa,'download','icon') }}
                            {% endif %}
                        {% else %}
                            {{ translate("txt-no-doa-could-be-found-for-%s")|format(project.call.program) }}
                        {% endfor %}
                    </dd>
                {% endif %}
            {% endif %}

            {% if project.call.requireDoaPerProject %}
                <dt>{{ translate("txt-project-declaration-of-acceptance") }}</dt>
                <dd>
                    {% if not affiliationService.hasDoa(affiliation) %}
                        {% set affiliationDoaLinkText = affiliationDoaLink(null,'submit','text', affiliation) %}

                        {{ affiliationDoaLinkText|default(translate("txt-no-doa-uploaded-yet"))|raw }}
                    {% elseif affiliation.doa.dateApproved is null %}
                        {{ translate("txt-doa-received-on-%s-but-waiting-for-approval")|
                        format(affiliation.doa.getDateCreated()|date("d-m-Y"))|raw }}
                        {% if not affiliation.doa.object.isEmpty() %}
                            {{ affiliationDoaLink(affiliation.doa,'download','icon') }}
                        {% endif %}
                    {% else %}
                        {{ translate("txt-doa-received-and-approved-on-%s")|format(affiliation.doa.dateApproved|string_date) }}
                        {% if not affiliation.doa.object.isEmpty() %}
                            {{ affiliationDoaLink(affiliation.doa,'download','icon') }}
                        {% endif %}
                    {% endif %}
                </dd>
            {% endif %}

            {% if project.call.requireDoaPerProjectOrMember %}
                <dt>{{ translate("txt-membership-status") }}</dt>
                <dd>{% if affiliation.hasParentOrganisation %}{{ translate(affiliation.parentOrganisation.parent.getMemberType(true)) }}{% else %}{{ translate("txt-no-member") }}{% endif %}</dd>

                {% if affiliationService.hasParentDoa(affiliation) %}
                    <dt>{{ translate("txt-parent-doa-signer") }}</dt>
                    <dd>{{ translate("txt-yes") }}</dd>
                {% endif %}

                {% if not affiliationService.hasParentDoa(affiliation) and not affiliation.parentOrganisation.parent.isMember() %}
                    <dt>{{ translate("txt-project-declaration-of-acceptance") }}</dt>
                    <dd>
                    {% if not affiliationService.hasDoa(affiliation) %}
                        {{ affiliationDoaLink(null,'submit','text', affiliation) }}
                    {% elseif affiliation.doa.dateApproved is null %}
                        {{ translate("txt-doa-received-on-%s-but-waiting-for-approval")|
                        format(affiliation.doa.getDateCreated()|date("d-m-Y"))|raw }}
                        {{ affiliationDoaLink(affiliation.doa,'download','icon') }}
                        {{ affiliationDoaLink(affiliation.doa,'edit-admin','icon') }}
                    {% else %}
                        {{ translate("txt-doa-received-and-approved-on-%s")|format(affiliation.doa.dateApproved|string_date)|raw }}
                        {{ affiliationDoaLink(affiliation.doa,'download','icon') }}
                        {{ affiliationDoaLink(affiliation.doa,'edit-admin','icon') }}
                    {% endif %}
                {% endif %}
                </dd>
            {% endif %}

            {% if project.call.requireLoi %}
                <dt>{{ translate("txt-letter-of-intent") }}</dt>
                <dd>
                    {% if not affiliationService.hasLoi(affiliation) %}
                        {% set affiliationLoiLinkText = affiliationLoiLink(null,'submit','text', affiliation) %}

                        {{ affiliationLoiLinkText|default(translate("txt-no-loi-uploaded-yet"))|raw }}
                    {% elseif affiliation.loi.dateApproved is null %}
                        {{ translate("txt-loi-received-on-%s-but-waiting-for-approval")|
                        format(affiliation.loi.getDateCreated()|date("d-m-Y"))|raw }}
                        {% if not affiliation.loi.object.isEmpty() %}
                            {{ affiliationLoiLink(affiliation.loi,'download','icon') }}
                        {% endif %}
                    {% else %}
                        {{ translate("txt-loi-received-and-approved-on-%s")|format(affiliation.loi.dateApproved|string_date) }}
                        {% if not affiliation.loi.object.isEmpty() %}
                            {{ affiliationLoiLink(affiliation.loi,'download','icon') }}
                        {% endif %}
                    {% endif %}
                </dd>
            {% endif %}
        </dl>

        <dl class="dl-horizontal">
            <dt>{{ translate("txt-technical-contact") }}</dt>
            <dd>{{ affiliation.contact.displayName() }}
                <a href="mailto:{{ affiliation.contact.email }}"><i class="far fa-envelope"></i></a>
                {{ contactLink(affiliation.contact,'view-admin','icon') }}
                {{ affiliationLink(affiliation,'technical-contact','button-small') }}
            </dd>

            {% if affiliation.proxyContact.count() > 0 %}
                <dt>{{ translate("txt-proxy-technical-contact") }}</dt>
                {% for contact in affiliation.proxyContact %}
                    <dd>{{ contact.displayName() }}
                        ({{ contact.contactOrganisation.organisation|trim }})
                        <a href="mailto:{{ contact.email }}"><i class="far fa-envelope"></i></a>
                        {{ contactLink(contact,'view-admin','icon') }}</dd>
                {% endfor %}
            {% endif %}

            {% if affiliation.communicationContactName %}
                <dt>{{ translate("txt-communication-contact") }}</dt>
                <dd>{{ affiliation.communicationContactName }} {% if affiliation.communicationContactEmail %} <a
                            href="mailto:{{ affiliation.communicationContactEmail }}"><i
                            class="far fa-envelope"></i> {{ affiliation.communicationContactEmail }}</a>{% endif %}</dd>
            {% endif %}

            {% if affiliation.financial %}
                <dt>{{ translate("txt-financial-contact") }}</dt>
                <dd>
                    {{ affiliation.financial.contact.displayName }} <a
                            href="mailto:{{ affiliation.financial.contact.email }}"><i
                                class="far fa-envelope"></i></a>
                    {{ contactLink(affiliation.financial.contact,'view-admin','icon') }}
                </dd>
            {% endif %}
        </dl>

        <dl class="dl-horizontal">
            <dt>{{ translate("txt-funding-status") }}</dt>
            <dd>
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                    <tr>
                        <th>{{ translate("txt-year") }}</th>
                        <th>{{ translate("txt-partner-status") }}</th>
                        <th>{{ translate("txt-office-status") }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for year in projectService.parseYearRange(project) %}

                        <tr>
                            <td>
                                {{ year }}</td>
                            <td>
                                {% if affiliation.isSelfFunded() %}
                                    {{ translate("txt-self-funded") }}
                                {% elseif affiliation.selfFunded is constant("Affiliation\\Entity\\Affiliation::SELF_FUNDED") %}
                                    {{ translate("txt-self-funded-requested") }}
                                {% elseif (affiliationService.getFundingInYear(affiliation,year)) %}
                                    {{ affiliationService.getFundingInYear(affiliation,year).status.statusFunding }}
                                {% else %}
                                    {{ translate("txt-not-set") }}
                                {% endif %}
                            </td>
                            <td>
                                {% if affiliation.isSelfFunded() %}
                                    {{ translate("txt-self-funded") }}
                                {% elseif (affiliationService.getFundingInYear(affiliation,year)) %}
                                    <span class="badge funding-status {{ affiliationService.getFundingInYear(affiliation,year, constant("Project\\Entity\\Funding\\Source::SOURCE_OFFICE")).status.parseCssName }}">{{ affiliationService.getFundingInYear(affiliation,year).status.statusFunding }}</span>
                                {% else %}
                                    {{ translate("txt-not-set") }}
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </dd>
        </dl>

        {{ affiliationLink(affiliation, 'edit-community','button') }} {% if affilation.organisation.hasPendingUpdate() %}{{ organisationUpdateLink(null, 'edit', 'button', affiliation.organisation) }}{% endif %}
    </div>
    <div class="col-md-2">
        {% include 'affiliation/partial/checklist' %}
    </div>
</div>