{% include 'affiliation/affiliation/tabs' %}

<h2>{{ translate("txt-project-partner-parent-information") }}</h2>

<ul class="nav nav-pills" role="tablist">
    {% for paymentSheetPeriod in affiliationService.parsePaymentSheetPeriods(affiliation) %}
        <li role="presentation" class="nav-item">
            <a href="#{{ paymentSheetPeriod.id }}"
               class="nav-link  {% if paymentSheetPeriod.active %}active{% endif %}" aria-controls="home"
               role="tab"
               data-toggle="tab">{{ paymentSheetPeriod.label }}</a></li>
    {% endfor %}
</ul>

<div class="tab-content">
    {% for paymentSheetPeriod in affiliationService.parsePaymentSheetPeriods(affiliation) %}
        <div role="tabpanel" id="{{ paymentSheetPeriod.id }}"
             class="tab-pane {% if paymentSheetPeriod.active %}active{% endif %}">
            {{ paymentSheet(affiliation, paymentSheetPeriod.year, paymentSheetPeriod.period) }}
        </div>
    {% endfor %}
</div>