{% include 'affiliation/affiliation/tabs' %}
<div class="row">
    <div class="col-md-10">
        <h2>{{ translate("txt-questionnaires") }}</h2>

        {% if questionnaires|length > 0 %}
            <table class="table table-striped table-hover table-sm">
                <thead>
                <tr>
                    <th>{{ translate("txt-questionnaire") }}</th>
                    <th>{{ translate("txt-phase") }}</th>
                    <th>{{ translate("txt-questions") }}</th>
                    <th>{{ translate("txt-open-date") }}</th>
                    <th>{{ translate("txt-close-date") }}</th>
                    <th>{{ translate("txt-completed") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for questionnaire in questionnaires %}
                    <tr>
                        <td>
                            {% if not questionnaireHelper().isOpen(questionnaire, affiliation) %}
                                <i class="fas fa-lock"></i>
                            {% endif %}
                            {{ affiliationQuestionnaireLink(questionnaire, 'view-community', 'name', affiliation) }}
                            {{ affiliationQuestionnaireLink(questionnaire, 'edit-community', 'icon', affiliation) }}
                        </td>
                        <td>{{ questionnaire.phase.phase }}</td>
                        <td>{{ questionnaire.questionnaireQuestions|length }}</td>
                        <td>{{ questionnaireHelper().getStartDate(questionnaire, affiliation)|string_date }}</td>
                        <td>{{ questionnaireHelper().getEndDate(questionnaire, affiliation)|string_date }}</td>
                        <td>{{ questionnaireHelper().parseCompletedPercentage(questionnaire, affiliation)|raw }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ ztbalert().info(translate("txt-no-questionnaires-in-this-affiliation"))|raw }}
        {% endif %}
    </div>
    <div class="col-md-2">
        {% include 'affiliation/partial/checklist' %}
    </div>
</div>
