{% do headLink().appendStylesheet(
'//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css'
) %}


{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-affiliation-%s")|format(affiliation.displayName)) %}

<h1>{{ translate("txt-edit-affiliation-%s-in-%s")|format(
    affiliation.parseBranchedName(),
    affiliation.project.parseFullName()
    ) }} </h1>

{% do form.prepare() %}

{{ form().openTag(form)|raw }}


<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-project-name") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ projectLink(affiliation.project,'view-admin', 'name') }}</p>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-affiliation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ affiliationLink(affiliation,'view-admin','name') }}</p>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-country") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ affiliation.organisation.country }}</p>
    </div>
</div>

{{ organisationformelement(form.get('organisation')) }}
{{ contactformelement(form.get('contact')) }}
{{ ztbformelement(form.get('branch')) }}

{{ ztbformelement(form.get('dateEnd')) }}
{{ ztbformelement(form.get('dateSelfFunded')) }}

{{ ztbformelement(form.get('valueChain')) }}
{{ ztbformelement(form.get('mainContribution')) }}
{{ ztbformelement(form.get('marketAccess')) }}


{{ organisationformelement(form.get('financialOrganisation')) }}
{{ contactformelement(form.get('financialContact')) }}
{{ ztbformelement(form.get('financialBranch')) }}
{{ ztbformelement(form.get('emailCC')) }}


<hr>

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
        {% if form.has('delete') %}
            {{ ztbformelement(form.get('delete')) }}
        {% else %}
            <button type="button" class="btn btn-danger"
                    disabled="disabled">{{ translate("txt-delete") }}</button> <i class="fa fa-info-circle cursor-help"
                                                                                  title="{{ translate("txt-removal-of-partner-is-disabled-because-partner-is-active-in-version") }}"></i>
        {% endif %}
    </div>
</div>

{{ form().closeTag()|raw }}

<script type="text/javascript">
    $('input[type=date]').datepicker({
        sliderAccessArgs: {touchonly: false},
        dateFormat: 'yy-mm-dd'
    });
</script>