{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-affiliation-%s")|format(affiliation.displayName)) %}

<h1>{{ translate("txt-edit-affiliation-%s-in-%s")|format(
    affiliation.parseBranchedName(),
    affiliation.project.parseFullName()
    ) }} </h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}


<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-project-name") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ projectLink(affiliation.project,'view-admin', 'name') }}</p>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-affiliation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ affiliationLink(affiliation,'view-admin','name') }}</p>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-organisation") }} ({{ translate("txt-legacy") }})</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ organisationLink(affiliation.organisation,'view-admin','name') }}
            ({{ affiliation.organisation.country }})</p>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-parent-organisation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">
            {% if affiliation.parentOrganisation %}
                {{ parentOrganisationLink(affiliation.parentOrganisation,'view','organisation') }}
                {{ parentLink(affiliation.parentOrganisation.parent,'view','parent') }}
                ({{ affiliation.parentOrganisation.parent.organisation.country }})
            {% else %}
                {{ translate("txt-not-set") }}
            {% endif %}
        </p>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-country") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ affiliation.organisation.country }}</p>
    </div>
</div>

{{ ztbformelement(form.get('parentOrganisationLike')) }}
{{ ztbformelement(form.get('parentOrganisation')) }}
{{ ztbformelement(form.get('parent')) }}
{{ ztbformelement(form.get('createParentFromOrganisation')) }}
{{ organisationformelement(form.get('organisation')) }}
{{ contactformelement(form.get('contact')) }}
{{ ztbformelement(form.get('communicationContactName')) }}
{{ ztbformelement(form.get('communicationContactEmail')) }}
{{ ztbformelement(form.get('branch')) }}


{{ ztbformelement(form.get('dateEnd')) }}
{{ ztbformelement(form.get('dateSelfFunded')) }}

{{ ztbformelement(form.get('valueChain')) }}
{{ ztbformelement(form.get('mainContribution')) }}
{{ ztbformelement(form.get('marketAccess')) }}


{{ organisationformelement(form.get('financialOrganisation')) }}
{{ contactformelement(form.get('financialContact')) }}
{{ ztbformelement(form.get('financialBranch')) }}
{{ ztbformelement(form.get('emailCC')) }}
{{ ztbformelement(form.get('invoiceMethod')) }}

<hr>

<div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
        {% if form.has('delete') %}
            {{ ztbformelement(form.get('delete')) }}
        {% else %}
            <button type="button" class="btn btn-danger"
                    disabled="disabled">{{ translate("txt-delete") }}</button> <i class="fas fa-info-circle cursor-help"
                                                                                  title="{{ translate("txt-removal-of-partner-is-disabled-because-partner-is-active-in-version") }}"></i>
        {% endif %}
    </div>
</div>

{{ form().closeTag()|raw }}