{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-affiliation-list")) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

<div class="row">
    <div class="col-md-10">

        <h1 class="display-4">{{ translate("txt-affiliation-list") }}</h1>
        <p class="lead">{{ translate("txt-affiliation-list-explanation") }}</p>

        <div class="row">
            <div class="col-md-8">

                <div class="form-group row">{{ formelement(form.get('query')) }}</div>
                {% if form.has('fields') %}
                    {{ ztbformelement(form.get('fields')) }}
                {% endif %}
            </div>
            <div class="col-md-4">
                <p>
                    {{ formelement(form.get('search')) }} {{ formelement(form.get('reset')) }}
                </p>
                <p>
                    <a href="{{ url('zfcadmin/affiliation/list-csv') }}{% if fullArguments %}?{{ fullArguments }}{% endif %}"
                       class="btn btn-primary">{{ translate("txt-download-as-csv") }}</a>
                </p>
                {% if paginator %}
                    <p class="text-muted">
                        {{ translate("txt-%s-items-on-%s-pages")|format(paginator.adapter.count, paginator.pageRange) }}<br>
                        <span class="label" style="background-color: #f2dede;">&nbsp;</span> = {{ translate('txt-inactive-affiliation') }}
                    </p>
                {% endif %}
            </div>
        </div>
        {% if paginator and (paginator.pageRange > 0) %}
            <table class="table table-striped table-hover table-condensed table-sm">
                <thead>
                <tr>
                    <th>
                        {% include 'affiliation/partial/sortable-table-header' with {'route': 'zfcadmin/affiliation/list', 'criteria': 'organisation_sort', 'text': translate('txt-affiliation')} %}
                    </th>
                    <th>
                        {% include 'affiliation/partial/sortable-table-header' with {'route': 'zfcadmin/affiliation/list', 'criteria': 'project_sort', 'text': translate('txt-project')} %}
                    </th>
                    <th>
                        {% include 'affiliation/partial/sortable-table-header' with {'route': 'zfcadmin/affiliation/list', 'criteria': 'project_call', 'text': translate('txt-call')} %}
                    </th>
                    <th>
                        {% include 'affiliation/partial/sortable-table-header' with {'route': 'zfcadmin/affiliation/list', 'criteria': 'contact_sort', 'text': translate('txt-contact')} %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for result in paginator.getCurrentItems() %}
                    <tr{% if not result.fields.is_active %} class="danger"{% endif %}>
                        <td>
                            <a href="{{ url('zfcadmin/affiliation/view',{'id':result.fields.affiliation_id }) }}">{{ result.fields.organisation }}</a>
                        </td>
                        <td>
                            <a href="{{ url('zfcadmin/project/project/view',{'id':result.fields.project_id }) }}">{{ result.fields.project }}</a>
                        </td>
                        <td>
                            {{ result.fields.project_call }}
                        </td>
                        <td>
                            <a href="{{ url('zfcadmin/contact-admin/view',{'id':result.fields.contact_id }) }}">{{ result.fields.contact }}</a>
                        </td>
                    </tr>
                    {% set highlightDoc = highlighting.getResult(result.fields.id) %}
                    {% if highlightDoc and highlightDoc is not empty %}
                    <tr>
                        <td colspan="4">
                            <dl class="dl-horizontal">
                            {% for field, highlight in highlightDoc %}
                                <dt>{{ highlightingFields[field] }}</dt>
                                <dd>...{{ highlight|join(' (...) ')|striptags('<mark>')|raw }}...</dd>
                            {% endfor %}
                            </dl>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            {% include 'affiliation/partial/pagination-control' with {'paginator': paginator} %}
        {% else %}
            {{ ztbalert().info(translate("txt-no-affiliations-found"))|raw }}
        {% endif %}
    </div>
    <div class="col-md-2">
        <div class="well well-sm">
            {% set facets = form.get('facet') %}
            {% for facet in facets %}
                {{ ztbformelement(facet) }}
            {% endfor %}
        </div>
    </div>
</div>

{{ form().closeTag()|raw }}

<script>
    $(function () {
        var facetCheckBoxes = $('div.well input[type="checkbox"]');
        facetCheckBoxes.add('#searchButton, #resetButton').on('click', function () {
            if ($(this).is('#resetButton')) {
                facetCheckBoxes.each(function () {
                    this.removeAttribute('checked');
                });
                $('input[name="query"]').val('');
            }
            $('#search').submit();
        });
    });
</script>