{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-missing-affiliation-parents")) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{% set filter = form.get('filter') %}

<input type="hidden" name="filter[order]" value="{{ order }}">
<input type="hidden" name="filter[direction]" value="{{ direction }}">

<div class="row">
    <div class="col-md-10">
        <h1 class="display-4">{{ translate("txt-missing-affiliation-parents") }}</h1>

        <div class="row">
            <div class="col-md-6">
                <p class="lead">{{ translate("txt-missing-affiliation-parents-explanation") }}</p>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    {{ formelement(filter.get('search')) }}
                    <div class="input-group-append input-group-btn">
                        {{ formelement(form.get('submit')) }}
                    </div>
                </div>
            </div>
        </div>

        {% if paginator.pageRange > 0 %}
            <table class="table table-hover table-striped table-condensed table-sm">
                <thead>
                <tr>
                    <th>{{ translate("txt-affiliation") }}</th>
                    <th>{{ translate("txt-project") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for affiliation in paginator.getCurrentItems() %}
                    <tr>
                        <td>
                            {{ affiliationLink(affiliation, 'view-admin', 'name') }}
                            {{ affiliationLink(affiliation, 'edit-admin', 'icon') }}
                        </td>
                        <td>{{ projectLink(affiliation.project, 'view-admin', 'name') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'project/partial/pagination-control' %}
        {% else %}
            {{ ztbalert().info(translate("txt-affiliation-with-missing-parent-organisation"))|raw }}
        {% endif %}
    </div>
    <div class="col-md-2">
        <div class="well well-sm">
            <fieldset>

                <div class="form-group row">
                    {{ ztbformelement(form.get('submit')) }}
                    {{ ztbformelement(form.get('clear')) }}
                </div>
            </fieldset>
        </div>
    </div>
</div>

{{ form().closeTag()|raw }}

