{% set project = affiliation.project %}
{% set organisation = affiliation.organisation %}

{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-affiliation")) %}
{% do headTitle().append(translate("txt-%s-in-%s")|format(affiliation.parseBranchedName(),project.parseFullName())) %}

{% do headLink().appendStylesheet(url('assets/funding-status-css')) %}

{# Produce the link first to have the resource :) #}
{% set affiliationLink = affiliationLink(affiliation, 'edit-admin','button') %}
{% set years = projectService.parseYearRange(affiliation.project, true) %}

<h1>{{ affiliation.parseBranchedName() }}</h1>

<p class="lead">{{ translate("txt-partner-in-%s")|format(
        project.parseFullName()
    ) }} {{ affiliationLink(affiliation,'view-community', 'icon') }}</p>

{% if affiliation.dateEnd %}
    {{ ztbalert().danger(translate("txt-affiliation-%s-has-been-deactivated-on-%s-date"))|format(
        affiliation,
        affiliation.dateEnd|string_date
    )|raw }}
{% endif %}

{% if affiliationService.isSelfFunded(affiliation) %}
    {{ ztbalert().success(translate("txt-affiliation-%s-is-self-funded"))|format(
        affiliation
    )|raw }}
{% endif %}

{% if affiliation.selfFunded is constant("Affiliation\\Entity\\Affiliation::SELF_FUNDED") and not affiliation.dateSelfFunded %}
    {{ ztbalert().info(translate("txt-affiliation-%s-is-indicated-as-self-funded-but-not-yet-approved-by-the-office"))|format(
        affiliation
    )|raw }}
{% endif %}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active"><a class="nav-link active" href="#details"
                                   data-toggle="tab">{{ translate("txt-partner-details") }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#description"
                            data-toggle="tab">{{ translate("txt-description") }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#associates" data-toggle="tab">{{ translate("txt-associates") }}</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="#financial" data-toggle="tab">{{ translate("txt-financial") }}</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="#paymentsheet"
                            data-toggle="tab">{{ translate("txt-payment-sheet") }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#invoice" data-toggle="tab">{{ translate("txt-invoices") }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#version" data-toggle="tab">{{ translate("txt-version") }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#funding" data-toggle="tab">{{ translate("txt-funding") }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#report" data-toggle="tab">{{ translate("txt-reporting") }}</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" role="tabpanel" id="details">
        <h2>{{ translate("txt-affiliation-information") }}</h2>

        <dl class="dl-horizontal">
            <dt>{{ translate("txt-organisation-name") }}</dt>
            <dd>{{ organisationLink(organisation,'view-admin', 'name') }} ({{ translate("txt-legacy") }})</dd>
            <dt>{{ translate("txt-organisation-country") }}</dt>
            <dd>{{ countryLink(organisation.country,'view-admin','name') }}</dd>
            {% if affiliation.parentOrganisation %}
                <dt>{{ translate("txt-parent-name") }}</dt>
                <dd>{{ parentLink(affiliation.parentOrganisation.parent,'view', 'parent') }}
                    ({{ translate(affiliation.parentOrganisation.parent.getMemberType(true)) }})
                </dd>
            {% endif %}
            {% if affiliation.parentOrganisation %}
                <dt>{{ translate("txt-parent-organisation-name") }}</dt>
                <dd>{{ parentOrganisationLink(affiliation.parentOrganisation,'view', 'organisation') }}</dd>
            {% endif %}
            {% if affiliation.branch %}
                <dt>{{ translate("txt-branch") }}</dt>
                <dd><code>{{ affiliation.branch }}</code></dd>
            {% endif %}
            <dt>{{ translate("txt-branched-name") }}</dt>
            <dd>{{ affiliation.parseBranchedName() }}</dd>

            <dt>{{ translate("txt-project-name") }}</dt>
            <dd>{{ projectLink(project,'view-admin', 'name') }}
                {{ projectLink(project,'view-community', 'icon') }}
            </dd>
            <dt>{{ translate("txt-program-call") }}</dt>
            <dd>{{ callLink(project.call,'view-admin','name') }}</dd>
            <dt>{{ translate("txt-status") }}</dt>
            <dd>{{ projectService.parseStatus(project) }}</dd>

            <dt>{{ translate("txt-self-funded-affiliation-status") }}</dt>
            <dd>{{ translate(affiliation.getSelfFunded(true)) }}</dd>
            <dt>{{ translate("txt-project-leader") }}</dt>
            <dd>{{ contactLink(project.contact,'view-admin','name') }} <a
                        href="mailto:{{ project.contact.email }}"><i class="fa fa-envelope-o"></i></a>
            </dd>

            {% if affiliationService.isSelfFunded(affiliation) %}
                <dt>{{ translate("txt-self-funded") }}</dt>
                <dd>{{ translate("txt-partner-is-self-funded-since-%s")|format(affiliation.dateSelfFunded|string_date) }}</dd>
            {% endif %}


            <dt>{{ translate("txt-position-on-value-chain") }}</dt>
            <dd>{{ affiliation.valueChain|default('<i class="fa fa-exclamation-circle text-warning warning"></i>')|raw }}</dd>
            <dt>{{ translate("txt-main-contributions-and-added-value") }}</dt>
            <dd>{{ affiliation.mainContribution|default('<i class="fa fa-exclamation-circle text-warning warning"></i>')|raw }}</dd>
            <dt>{{ translate("txt-strategic-importance") }}</dt>
            <dd>{{ affiliation.strategicImportance|default('<i class="fa fa-exclamation-circle text-warning warning"></i>')|raw }}</dd>
            <dt>{{ translate("txt-market-access") }}</dt>
            <dd>{{ affiliation.marketAccess|default('<i class="fa fa-exclamation-circle text-warning warning"></i>')|raw }}</dd>
        </dl>

        <dl class="dl-horizontal">
            {% if callService.requireDoaPerProgram(affiliation.project.call) %}
                <dt>{{ translate("txt-program-declaration-of-acceptance") }}</dt>
                {% if affiliation.parentOrganisation %}
                    <dd>{% for doa in affiliation.parentOrganisation.parent.doa if doa.program.id == project.call.program.id %}
                            {% if programDoa.dateApproved is null %}
                                {{ translate("txt-doa-received-on-%s-but-waiting-for-approval")|format(doa.dateCreated|date("d-m-Y"))|raw }}
                                {#{{ parentDoaLink(doa,'replace','icon') }}#}
                                {{ parentDoaLink(doa,'download','icon') }}
                            {% else %}
                                {{ translate("txt-doa-received-and-approved-on-%s")|format(doa.dateApproved|date("d-m-Y"))|raw }}
                                {{ parentDoaLink(doa,'download','icon') }}
                            {% endif %}
                        {% else %}
                            {{ parentDoaLink(null,'upload','text', affiliation.parentOrganisation.parent) }}
                        {% endfor %}
                    </dd>
                {% else %}
                    <dd>{% for programDoa in affiliation.organisation.programDoa if programDoa.program.id == project.call.program.id %}
                            {% if programDoa.dateApproved is null %}
                                {{ translate("txt-doa-received-on-%s-but-waiting-for-approval")|format(programDoa.dateCreated|date("d-m-Y"))|raw }}
                                {{ programDoaLink(programDoa,'replace','icon') }}
                                {{ programDoaLink(programDoa,'download','icon') }}
                            {% else %}
                                {{ translate("txt-doa-received-and-approved-on-%s")|format(programDoa.dateApproved|date("d-m-Y"))|raw }}
                                {{ programDoaLink(programDoa,'download','icon') }}
                            {% endif %}
                        {% else %}
                            {{ programDoaLink(null,'upload','text', affiliation.organisation, project.call.program) }}
                        {% endfor %}
                    </dd>
                {% endif %}
            {% endif %}

            {% if callService.requireDoaPerProject(affiliation.project.call) %}
                <dt>{{ translate("txt-project-declaration-of-acceptance") }}</dt>
                <dd>
                    {% if not affiliationService.hasDoa(affiliation) %}
                        {{ doaLink(null,'upload','text', affiliation) }}
                    {% elseif affiliation.doa.dateApproved is null %}
                        {{ translate("txt-doa-received-on-%s-but-waiting-for-approval")|
                        format(affiliation.doa.getDateCreated()|date("d-m-Y"))|raw }}
                        {{ doaLink(affiliation.doa,'download','icon') }}
                        {{ doaLink(affiliation.doa,'edit-admin','icon') }}
                    {% else %}
                        {{ translate("txt-doa-received-and-approved-on-%s")|format(affiliation.doa.dateApproved|string_date)|raw }}
                        {{ doaLink(affiliation.doa,'download','icon') }}
                        {{ doaLink(affiliation.doa,'edit-admin','icon') }}
                    {% endif %}
                </dd>
            {% endif %}

            {% if callService.requireLoi(affiliation.project.call) %}
                <dt>{{ translate("txt-letter-of-intent") }}</dt>
                <dd>
                    {% if not affiliationService.hasLoi(affiliation) %}
                        {{ loiLink(null,'submit','text', affiliation) }}
                    {% elseif affiliation.loi.dateApproved is null %}
                        {{ translate("txt-loi-received-on-%s-but-waiting-for-approval")|
                        format(affiliation.loi.getDateCreated()|date("d-m-Y"))|raw }}
                        {{ loiLink(affiliation.loi,'edit-admin','icon') }}
                        {% if affiliation.loi.object %}
                            {{ loiLink(affiliation.loi,'download','icon') }}
                        {% endif %}
                    {% else %}
                        {{ translate("txt-loi-received-and-approved-on-%s")|format(affiliation.loi.dateApproved|string_date) }}
                        {% if affiliation.loi.object %}
                            {{ loiLink(affiliation.loi,'download','icon') }}
                        {% endif %}
                        {{ loiLink(affiliation.loi,'edit-admin','icon') }}
                    {% endif %}
                </dd>
            {% endif %}
            <dt>{{ translate("txt-technical-contact") }}</dt>
            <dd>{{ contactLink(affiliation.contact,'view-admin','name') }} <a
                        href="mailto:{{ affiliation.contact.email }}"><i
                            class="fa fa-envelope-o"></i></a></dd>
            {% if affiliation.financial %}
                <dt>{{ translate("txt-financial-contact") }}</dt>
                <dd>{{ contactLink(affiliation.financial.contact,'view-admin','name') }} <a
                            href="mailto:{{ affiliation.financial.contact.email }}"><i
                                class="fa fa-envelope-o"></i></a></dd>
                {% if affiliation.financial.branch %}
                    <dt>{{ translate("txt-financial-branch") }}</dt>
                    <dd><code>{{ affiliation.financial.branch }}</code></dd>
                {% endif %}
            {% endif %}
            <dt>{{ translate("txt-invoice-method") }}</dt>
            <dd>{{ affiliation.invoiceMethod.method|default(translate("txt-no-invoice-method-forced")) }}</dd>
        </dl>

        {{ affiliationLink|raw }}
        {{ affiliationLink(affiliation, 'merge-admin','button') }}
    </div>
    <div class="tab-pane" role="tabpanel" id="description">
        <h2>{{ translate("txt-partner-description") }}</h2>

        {% for description in affiliation.description %}
            <dl class="dl-horizontal">
                <dt>{{ translate("txt-description") }}</dt>
                <dd>{{ description.description|raw|nl2br }}</dd>
            </dl>
        {% else %}
            {{ ztbalert().warning(translate("txt-no-description-found-for-%s")|format(
                affiliation.parseBranchedName()
            ))|raw }}
        {% endfor %}

        {{ affiliationLink(affiliation, 'edit-description','button') }}
    </div>
    <div class="tab-pane" role="tabpanel" id="associates">
        <h2>{{ translate("txt-associates") }}</h2>

        {% if affiliation.associate.count() > 0 %}
            <table class="table table-striped table-hover table-sm">
                <thead>
                <tr>
                    <th>{{ translate("txt-associate-name") }}</th>
                    <th>{{ translate("txt-organisation") }}</th>
                    <th>{{ translate("txt-country") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in affiliation.associate %}
                    <tr>
                        <td>
                            {{ associateLink(affiliation,'edit','contact', contact) }}
                            {{ contactLink(contact, 'view-admin','icon') }}</td>
                        {% if contactService.hasOrganisation(contact) %}
                            <td>{{ organisationLink(contact.contactOrganisation.organisation,'view-admin') }}
                                {% if contact.contactOrganisation.organisation != affiliation.organisation %}
                                    <i class="fa fa-exclamation-triangle text-danger"
                                       title="{{ translate("txt-associate-is-from-another-organisation") }}"></i>
                                {% endif %}
                            </td>
                            <td>{{ countryLink(contact.contactOrganisation.organisation.country,'view-admin') }}</td>
                        {% else %}
                            <td colspan="2"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ ztbalert().info(translate("txt-no-associates-in-this-affiliation"))|raw }}
        {% endif %}

        {{ affiliationLink(affiliation,'add-associate-admin','button') }}

    </div>
    <div class="tab-pane" role="tabpanel" id="financial">


        <h2>{{ translate("txt-invoicing-details") }}</h2>

        {% if affiliation.financial %}
            <dl class="dl-horizontal">
                <dt>{{ translate("txt-billing-organisation") }}</dt>
                <dd>{{ organisationLink(affiliation.financial.organisation,'view-admin','name') }}</dd>
                <dt>{{ translate("txt-country") }}</dt>
                <dd>{{ affiliation.financial.organisation.country }}</dd>
                <dt>{{ translate("txt-financial-contact") }}</dt>
                <dd>{{ contactLink(affiliation.financial.contact, 'view-admin','name') }}</dd>


                <dt>{{ translate("txt-address-label") }}</dt>
                <dd>{{ organisationService.parseOrganisationWithBranch(affiliation.financial.branch, affiliation.financial.organisation) }}</dd>

                {% if organisation.financial.omitContact == constant("Organisation\\Entity\\Financial::NO_OMIT_CONTACT") %}
                    <dd>{{ contactService.parseAttention(affiliation.financial.contact) }} {{ affiliation.financial.contact.parseFullName() }}</dd>
                {% endif %}

                {% if contact.department %}
                    <dd>{{ contact.department }}</dd>
                {% endif %}

                {% set financialAddress = contactService.getFinancialAddress(affiliation.financial.contact) %}
                <dd>{{ financialAddress.address }}</dd>
                <dd>{{ financialAddress.zipcode }} {{ financialAddress.city }}</dd>
                <dd>{{ financialAddress.country|upper }}</dd>

                <dt>{{ translate('txt-vat-number') }}</dt>
                {% if affiliation.financial.organisation.financial %}
                    <dd>{{ affiliation.financial.organisation.financial.vat }}</dd>
                {% else %}
                    <dd>{{ translate("txt-no-finanical-organisation-for-%s")|format(affiliation.financial.organisation) }}</dd>
                {% endif %}


                <dt>{{ translate("txt-preferred-delivery") }}</dt>
                {% if organisation.financial.email == constant("Organisation\\Entity\\Financial::EMAIL_DELIVERY") %}
                    <dd>{{ translate("txt-by-email-to-%s")|format(affiliation.financial.contact.email) }}</dd>
                {% else %}
                    <dd>{{ translate("txt-by-postal-mail") }}</dd>
                {% endif %}
            </dl>

        {% else %}
            {{ ztbalert().danger(translate("txt-we-have-no-billing-information-for-this-partner-%s")|format(affiliation))|raw }}
        {% endif %}

        {{ affiliationLink(affiliation, 'edit-financial','button') }}
    </div>
    <div class="tab-pane" role="tabpanel" id="paymentsheet">
        <br>
        <ul class="nav nav-pills" role="tablist">
            {% for paymentSheetPeriod in affiliationService.parsePaymentSheetPeriods(affiliation) %}
                <li role="presentation" class="nav-item">

                <a href="#{{ paymentSheetPeriod.id }}" aria-controls="home" role="tab"
                   class="nav-link  {% if paymentSheetPeriod.active or (loop.last and paymentSheetPeriod.active) %}active{% endif %}"
                   data-toggle="tab">{{ paymentSheetPeriod.label }}</a></li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for paymentSheetPeriod in affiliationService.parsePaymentSheetPeriods(affiliation) %}
                <div role="tabpanel" id="{{ paymentSheetPeriod.id }}"
                     class="tab-pane {% if paymentSheetPeriod.active %}active{% endif %}">
                    {{ paymentSheet(affiliation, paymentSheetPeriod.year, paymentSheetPeriod.period) }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane" role="tabpanel" id="version">
        <h2>{{ translate("txt-version-information") }}</h2>

        {% if affiliation.version.count() > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>{{ translate("txt-version") }}</th>
                    <th>{{ translate("txt-id") }}</th>
                    <th>{{ translate("txt-status") }}</th>
                    <th>{{ translate("txt-date-reviewed") }}</th>
                    <th>{{ translate("txt-total-effort") }}</th>
                    <th>{{ translate("txt-total-cost") }}</th>
                    <th>{{ translate("txt-funding-national") }}</th>
                    <th>{{ translate("txt-funding-eu") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for affiliationVersion in affiliation.version %}
                    <tr>
                        {% set version = affiliationVersion.version %}
                        <td>{{ versionLink(version,'view-admin','description') }}</td>
                        <td>{{ affiliationVersion.id }}</td>
                        <td>{{ versionService.parseStatus(version) }}</td>
                        <td>{{ version.dateReviewed|string_date }}</td>
                        <td>{{ versionService.findTotalEffortVersionByAffiliationAndVersion(affiliationVersion.affiliation, version)|parse_effort }}</td>
                        <td>{{ versionService.findTotalCostVersionByAffiliationAndVersion(affiliationVersion.affiliation, version)|parse_cost }}</td>
                        <td>{{ versionService.findTotalFundingNationalVersionByAffiliationAndVersion(affiliationVersion.affiliation, version)|parse_funding }}</td>
                        <td>{{ versionService.findTotalFundingEuVersionByAffiliationAndVersion(affiliationVersion.affiliation, version)|parse_funding }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ ztbalert().info(translate("txt-there-are-no-versions-for-project-%s")|format(affiliation.project))|raw }}
        {% endif %}


        <h2>{{ translate("txt-costs-and-effort-overview") }}</h2>
        <table class="table table-hover table-striped table-sm">
            <thead>
            <tr>

                <th></th>
                <th>{{ translate("txt-type") }}</th>

                {% for year in projectService.parseYearRange(project, true) %}
                    <th>{{ year }}</th>
                {% endfor %}
                <th>{{ translate("txt-total") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for affiliationVersion in affiliation.version %}
                {% set version = affiliationVersion.version %}
                <tr>
                    <th colspan="{{ 4 + projectService.parseYearRange(project, true)|length }}">{{ versionLink(version,'view-admin','description') }}</th>
                </tr>
                <tr>

                    <td>{{ versionService.parseStatus(affiliationVersion.version) }}</td>
                    <td>{{ translate("txt-effort") }}</td>

                    {% for year in projectService.parseYearRange(project, true) %}
                        {% set yearTotal = versionService.findTotalEffortVersionByAffiliationAndVersionPerYear(affiliation, version)[year] %}
                        <td>{{ yearTotal|parse_effort }}</td>
                    {% endfor %}
                    <td>{{ versionService.findTotalEffortVersionByAffiliationAndVersion(affiliation, version)|parse_effort }}</td>

                </tr>

                <tr>

                    <td></td>
                    <td>{{ translate("txt-costs") }}</td>

                    {% for year in years %}

                        {% set yearTotal = versionService.findTotalCostVersionByAffiliationAndVersionPerYear(affiliation, version, 'objects')[year] %}

                        <td>{% if yearTotal %}
                                <a id="cost_{{ year }}"
                                   href="#" class="cost" data-type="text"
                                   data-pk="{{ yearTotal.id }}"
                                   data-url="{{ url('zfcadmin/project/version/update-cost') }}"
                                   data-title="{{ translate("txt-update-costs") }}">{{ yearTotal.costs|parse_cost_edit }}</a>
                            {% else %}
                                {# find the affiliationVersion by going over the versions, #}
                                {% set affiliationVersionId = null %}
                                {% for affiliationVersion in version.affiliationVersion if affiliationVersion.affiliation.id == affiliation.id %}
                                    {% set affiliationVersionId = affiliationVersion.id %}
                                {% endfor %}

                                {% if affiliationVersionId %}
                                    <a id="cost_{{ year }}"
                                       href="#" class="cost"
                                       data-type="text"
                                       data-params="{'year':{{ year }},'affiliationVersionId':{{ affiliationVersionId }}}"
                                       data-pk=""
                                       data-url="{{ url('zfcadmin/project/version/new-cost') }}"
                                       data-title="{{ translate("txt-new-cost") }}">{{ 0|parse_cost_edit }}</a>
                                {% else %}
                                    0
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td>{{ versionService.findTotalCostVersionByAffiliationAndVersion(affiliation, version)|parse_cost }}</td>
                </tr>

            {% endfor %}

            <tr>
                <th colspan="{{ 4 + projectService.parseYearRange(affiliation.project)|length }}">{{ translate("txt-draft") }}</th>
            </tr>
            <tr>

                <td></td>
                <td>{{ translate("txt-effort") }}</td>

                {% for year in years %}
                    {% set yearTotal = projectService.findTotalEffortByAffiliationPerYear(affiliation)[year] %}

                    <td>{{ yearTotal|parse_effort }}</td>
                {% endfor %}
                <td>{{ projectService.findTotalEffortByAffiliation(affiliation)|parse_effort }}</td>

            </tr>

            <tr>
                <td></td>
                <td>{{ translate("txt-costs") }}</td>

                {% for year in years %}
                    {% set yearTotal = projectService.findTotalCostByAffiliationPerYear(affiliation)[year] %}

                    <td>
                        <a id="cost_{{ year }}"
                           href="#" class="cost" data-type="text"
                           data-pk="{{ affiliation.id }},{{ year }}"
                           data-url="{{ url('json/project/update-cost') }}"
                           data-title="{{ translate("txt-update-costs") }}">{{ yearTotal|parse_cost_edit }}</a>
                    </td>
                {% endfor %}
                <td>{{ projectService.findTotalCostByAffiliation(affiliation)|parse_cost }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ translate("txt-funding-national") }}</td>
                <td colspan="{{ years|length }}"></td>
                <td>
                    &euro; <a id="funding_national"
                              href="#" class="funding"
                              data-type="text"
                              data-params="{'type': 'funding_national'}"
                              data-pk="{{ affiliation.id }}"
                              data-url="{{ url('json/update-funded') }}"
                              data-title="{{ translate("txt-update-funding-eu") }}">{{ projectService.findTotalFundingNationalByAffiliation(affiliation) }}
                    </a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>{{ translate("txt-funding-eu") }}</td>
                <td colspan="{{ years|length }}"></td>
                <td>

                    &euro; <a id="funding_eu"
                              href="#" class="funding"
                              data-type="text"
                              data-params="{'type': 'funding_eu'}"
                              data-pk="{{ affiliation.id }}"
                              data-url="{{ url('json/update-funded') }}"
                              data-title="{{ translate("txt-update-funding-eu") }}">{{ projectService.findTotalFundingEuByAffiliation(affiliation) }}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
    <div class="tab-pane" role="tabpanel" id="funding">
        <h2>{{ translate("txt-funding") }}</h2>

        {% if affiliation.funding.count() > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>{{ translate("txt-date-from") }}</th>
                    <th>{{ translate("txt-date-until") }}</th>
                    <th>{{ translate("txt-source") }}</th>
                    <th>{{ translate("txt-status") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for funding in affiliation.funding %}
                    <tr>
                        <td>{{ funding.dateStart|date("d-m-Y") }}</td>
                        <td>{{ funding.dateEnd|date("d-m-Y") }}</td>
                        <td>{{ funding.source }}</td>
                        <td class="funding-status {{ funding.status.parseCssName }}">{{ funding.status.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ ztbalert().info(translate("txt-there-is-no-information-for-funding-available-for-%s")|format(affiliation))|raw }}
        {% endif %}
    </div>
    <div class="tab-pane" role="tabpanel" id="report">

        <h2>{{ translate("txt-progress-report-information") }}</h2>

        {% if project.report.count() > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>{{ translate("txt-report") }}</th>
                    <th>{{ translate("txt-contact") }}</th>
                    <th>{{ translate("txt-effort-planned") }}</th>
                    <th>{{ translate("txt-effort-spent") }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for report in project.report %}


                    {% set effortSpent = reportService.findEffortSpentByReportAndAffiliation(report, affiliation) %}

                    {% if latestVersion %}
                        {% set totalPlannedEffort = versionService.findTotalEffortByAffiliationAndVersionUpToReportingPeriod(
                            affiliation,
                            latestVersion,
                            report) %}
                    {% endif %}

                    <tr {% if report.dateFinal %}class="table-success"{% endif %}>
                        <td>{{ reportLink(report,'report-admin', 'name') }}</td>
                        <td>{{ contactLink(report.contact,'view-admin','name') }}</td>
                        <td>{{ totalPlannedEffort|parse_effort }} [{{ translate("txt-py") }}]</td>
                        {% if effortSpent %}
                            <td {% if effortSpent.comment|length > 0 %}title="{{ effortSpent.comment }}{% endif %}">{{ effortSpent.effort|parse_effort }}
                                [{{ translate("txt-py") }}]
                            </td>
                            <td>
                                {% if not report.dateFinal %}{{ affiliationEffortSpentLink(affiliation, 'update-effort-spent', 'update', report) }}{% endif %}</td>
                        {% else %}
                            <td></td>
                            <td>{% if not report.dateFinal %}{{ affiliationEffortSpentLink(affiliation, 'update-effort-spent', 'button', report) }}{% endif %}</td>
                        {% endif %}
                    </tr>
                    {% if effortSpent %}
                        <tr>
                            <td></td>
                            <td colspan="4"><strong>{{ translate("txt-main-contributions") }}
                                    : </strong>{{ effortSpent.summary|nl2br|default(translate("txt-not-provided")) }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ ztbalert().info(translate("txt-no-effort-spent-has-been-provided-for-%s-in-%s")|format(affiliation,project.parseFullname()))|raw }}
        {% endif %}

        <h2>{{ translate("txt-exploitation-related-achievement") }}</h2>

        {% if affiliation.achievement.count > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>{{ translate("txt-achievement") }}</th>
                    <th>{{ translate("txt-date") }}</th>
                    <th>{{ translate("txt-status") }}</th>
                    <th>{{ translate("txt-category") }}</th>
                    <th>{{ translate("txt-type") }}</th>
                    <th>{{ translate("txt-contact") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for achievement in affiliation.achievement %}
                    <tr>
                        <td>
                            {{ achievementLink(achievement,'view-admin', 'name') }}
                        </td>
                        <td>{{ achievement.dateCreated|string_date }} {% if latestReviewMeeting and latestReviewMeeting.dateEnd < result.dateCreated %}
                                <span class="label label-primary">{{ translate("txt-new") }}</span>{% endif %}</td>
                        <td>{{ translate(achievement.getStatus(true)) }}</td>
                        <td>{{ achievement.type.category }}</td>
                        <td>{{ achievement.type }}</td>
                        <td>{{ achievement.contact.displayName }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            {{ ztbalert().info(translate("txt-no-exploitation-related-achievements-were-created-for-%s-in-%s")|format(affiliation,project.parseFullname()))|raw }}
        {% endif %}

        {{ achievementLink(null, 'create', 'button', affiliation) }}
    </div>
    <div class="tab-pane" role="tabpanel" id="invoice">

        <h2>{{ translate("txt-partner-invoices") }}</h2>

        {% if affiliation.invoice.count() > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>{{ translate("txt-invoice-number") }}</th>
                    <th>{{ translate("txt-invoice-date") }}</th>
                    <th>{{ translate("txt-period") }}</th>
                    <th>{{ translate("txt-amount") }}</th>
                    <th>{{ translate("txt-status") }}</th>
                    <th>{{ translate("txt-download") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for affilaitionInvoice in affiliation.invoice %}
                    <tr>
                        <td>{{ invoiceLink(affilaitionInvoice.invoice,'view','invoice') }}</td>
                        <td>{{ affilaitionInvoice.invoice.dateInvoice|date("d-m-Y") }}</td>
                        <td>{{ affilaitionInvoice.year }}-{{ affilaitionInvoice.period }}</td>
                        <td>{{ invoiceService.parseTotal(affilaitionInvoice.invoice)|currency_decimal() }}</td>
                        <td>{{ invoiceService.parseStatus(affilaitionInvoice.invoice, true) }}</td>
                        <td>{{ invoiceLink(invoice,'download','icon') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ ztbalert().info(translate("txt-no-invoices-were-created-for-%s-in-%s")|format(affiliation,project.parseFullname()))|raw }}
        {% endif %}
    </div>
</div>

<script type="text/javascript">
    /**
     * Calculate the sum per year
     */
    $(document).ready(function () {
        //turn to inline mode
        $.fn.editable.defaults.mode = 'popup';
        $('.cost').editable();
        $('.funding').editable();
    });
</script>