{% do headTitle().append(translate("txt-affiliation")) %}
{% do headTitle().append(translate("txt-%s-in-%s")|format(affiliationService.affiliation.organisation.organisation,projectService.parseFullName)) %}

{% do headLink().appendStylesheet(url('assets/funding-status-css')) %}

{% set years = projectService.parseYearRange(false, affiliationService.affiliation) %}

{% set projectYears = projectService.parseYearRange(true) %}

{# Produce the link first to have the resource :) #}
{% set affiliationLink = affiliationLink(affiliationService.affiliation, 'edit-admin','button') %}

<h1>{{ affiliationService.affiliation.organisation.organisation }}</h1>

<p class="lead">{{ translate("txt-partner-in-%s")|format(
    projectService.parseFullName()
    ) }}</p>

{% if affiliationService.affiliation.dateEnd %}
    {{ ztbalert().danger(translate("txt-affiliation-%s-has-been-deactivated-on-%s-date"))|format(
    affiliationService.affiliation,
    affiliationService.affiliation.dateEnd|string_date
    )|raw }}
{% endif %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#details" data-toggle="tab">{{ translate("txt-partner-details") }}</a></li>
    <li><a href="#description" data-toggle="tab">{{ translate("txt-description") }}</a></li>
    <li><a href="#associates" data-toggle="tab">{{ translate("txt-associates") }}</a></li>

    <li><a href="#financial" data-toggle="tab">{{ translate("txt-financial") }}</a></li>
    <li><a href="#invoice" data-toggle="tab">{{ translate("txt-invoices") }}</a></li>

    <li><a href="#version" data-toggle="tab">{{ translate("txt-version") }}</a></li>

    <li><a href="#report" data-toggle="tab">{{ translate("txt-reporting") }}</a></li>

</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="details">
        <h3>{{ translate("txt-affiliation-information") }}</h3>

        <dl class="dl-horizontal">
            <dt>{{ translate("txt-organisation-name") }}</dt>
            <dd>{{ organisationLink(organisationService,'view-admin', 'name') }}
                {{ affiliationLink(affiliationService.affiliation,'view-community', 'icon') }}
            </dd>
            <dt>{{ translate("txt-project-name") }}</dt>
            <dd>{{ projectLink(projectService,'view-admin', 'name') }}
                {{ projectLink(projectService,'view-community', 'icon') }}
            </dd>
            <dt>{{ translate("txt-status") }}</dt>
            <dd>{{ projectService.parseStatus() }}</dd>
            <dt>{{ translate("txt-project-leader") }}</dt>
            <dd>{{ projectService.project.contact.displayName() }}</dd>
            {#<dt>{{ translate("txt-call-name") }}</dt>#}
            {#<dd>{{ projectService.project.call }}</dd>#}
            <dt>{{ translate("txt-project-country") }}</dt>
            <dd>{{ projectService.project.contact.contactOrganisation.organisation.country }}</dd>

            {% if affiliationService.isSelfFunded() %}
                <dt>{{ translate("txt-self-funded") }}</dt>
                <dd>{{ translate("txt-partner-is-self-funded-since-%s")|format(affiliationService.affiliatin.dateSelfFunded) }}</dd>
            {% endif %}
        </dl>

        <dl class="dl-horizontal">
            {% if projectService.project.call.doaRequirement is constant('\\Program\\Entity\\Call\\Call::DOA_REQUIREMENT_PER_PROGRAM') %}
                <dt>{{ translate("txt-program-declaration-of-acceptance") }}</dt>
                <dd>{% for programDoa in affiliationService.affiliation.organisation.programDoa if programDoa.program.id == projectService.project.call.program.id %}
                        {% if programDoa.dateApproved is null %}
                            {{ translate("txt-doa-received-on-%s-but-waiting-for-approval")|format(programDoa.dateCreated|date("d-m-Y"))|raw }}
                            {{ programDoaLink(programDoa,'replace','icon') }}
                            {{ programDoaLink(programDoa,'download','icon') }}
                        {% else %}
                            {{ translate("txt-doa-received-and-approved-on-%s")|format(programDoa.dateApproved|date("d-m-Y"))|raw }}
                            {{ programDoaLink(programDoa,'download','icon') }}
                        {% endif %}
                    {% else %}
                        {{ programDoaLink(null,'upload','text', affiliationService.affiliation.organisation, projectService.project.call.program) }}
                    {% endfor %}
                </dd>
            {% endif %}

            {% if projectService.project.call.doaRequirement is constant('\\Program\\Entity\\Call\\Call::DOA_REQUIREMENT_PER_PROJECT') %}
                <dt>{{ translate("txt-project-declaration-of-acceptance") }}</dt>
                <dd>
                    {% if not affiliationService.hasDoa() %}
                        {{ doaLink(null,'upload','text', affiliationService.affiliation) }}
                    {% elseif affiliationService.affiliation.doa.dateApproved is null %}
                        {{ translate("txt-doa-received-on-%s-but-waiting-for-approval")|
                        format(affiliationService.affiliation.doa.getDateCreated()|date("d-m-Y"))|raw }}
                        {{ doaLink(affiliationService.affiliation.doa,'replace','icon') }}
                        {{ doaLink(affiliationService.affiliation.doa,'download','icon') }}
                    {% else %}
                        {{ translate("txt-doa-received-and-approved-on-%s")|format(affiliationService.affiliation.doa.dateApproved|string_date)|raw }}
                        {{ doaLink(affiliationService.affiliation.doa,'download','icon') }}
                    {% endif %}
                </dd>
            {% endif %}

            <dt>{{ translate("txt-letter-of-intent") }}</dt>
            <dd>
                {% if not affiliationService.hasLoi() %}
                    {{ loiLink(null,'upload','text', affiliationService.affiliation) }}
                {% elseif affiliationService.affiliation.loi.dateApproved is null %}
                    {{ translate("txt-loi-received-on-%s-but-waiting-for-approval")|
                    format(affiliationService.affiliation.loi.getDateCreated()|date("d-m-Y"))|raw }}
                    {{ loiLink(affiliationService.affiliation.loi,'replace','icon') }}
                    {{ loiLink(affiliationService.affiliation.loi,'download','icon') }}
                {% else %}
                    {{ translate("txt-loi-received-and-approved-on-%s")|format(affiliationService.affiliation.loi.dateApproved|string_date) }}
                    {{ loiLink(affiliationService.affiliation.loi,'download','icon') }}
                {% endif %}
            </dd>
            <dt>{{ translate("txt-technical-contact") }}</dt>
            <dd>{{ contactLink(affiliationService.affiliation.contact,'view-admin','name') }}</dd>
            {% if affiliationService.affiliation.financial %}
                <dt>{{ translate("txt-financial-contact") }}</dt>
                <dd>{{ contactLink(affiliationService.affiliation.financial.contact,'view-admin','name') }}</dd>
            {% endif %}
        </dl>

        {{ affiliationLink|raw }}
    </div>
    <div class="tab-pane" id="description">
        <h3>{{ translate("txt-partner-description") }}</h3>

        {% for description in affiliationService.affiliation.description %}
            <dl class="dl-horizontal">
                <dt>{{ translate("txt-description") }}</dt>
                <dd>{{ description.description|raw|nl2br }}</dd>
            </dl>
        {% else %}
            {{ ztbalert().warning(translate("txt-no-description-found-for-%s")|format(
            affiliationService.affiliation.organisation.organisation
            ))|raw }}
        {% endfor %}

        {{ affiliationLink(affiliationService.affiliation, 'edit-description','button') }}
    </div>
    <div class="tab-pane" id="associates">
        <h3>{{ translate("txt-associates") }}</h3>

        {% if contactsInAffiliation.contacts|length > 0 %}
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>{{ translate("txt-associate-name") }}</th>
                    <th>{{ translate("txt-roles") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contactsInAffiliation.contacts %}
                    <tr>
                        <td>{{ contactLink(contact, 'view-admin','name') }}</td>
                        <td>
                            {{ contactsInAffiliation['contactRole'][contact.id]|join(', ') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ ztbalert().info(translate("txt-no-associates-in-this-affiliation"))|raw }}
        {% endif %}

        {{ affiliationLink(affiliationService.affiliation,'add-associate','button') }}

    </div>
    <div class="tab-pane" id="financial">

        <tabset type="pills">
            <tab heading="{{ translate("txt-invoicing-details") }}">

                <h3>{{ translate("txt-invoicing-details") }}</h3>

                {% if affiliationService.affiliation.financial %}

                    {% set organisationService = organisationServiceProxy(
                    affiliationService.affiliation.financial.organisation
                    ) %}

                    {% set contactService = contactServiceProxy(
                    affiliationService.affiliation.financial.contact
                    ) %}

                    <dl class="dl-horizontal">
                        <dt>{{ translate("txt-billing-organisation") }}</dt>
                        <dd>{{ organisationLink(organisationService,'view-admin','name') }}</dd>
                        <dt>{{ translate("txt-country") }}</dt>
                        <dd>{{ organisationService.organisation.country }}</dd>
                        <dt>{{ translate("txt-financial-contact") }}</dt>
                        <dd>{{ contactLink(contactService.contact, 'view-admin','name') }}</dd>


                        <dt>{{ translate("txt-address-label") }}</dt>
                        <dd>{{ organisationService.parseOrganisationWithBranch(affiliationService.affiliation.financial.branch) }}</dd>

                        {% if organisationService.organisation.financial.omitContact == constant("Organisation\\Entity\\Financial::NO_OMIT_CONTACT") %}
                            <dd>{{ contactService.parseAttention() }} {{ contactService.parseFullName() }}</dd>
                        {% endif %}

                        {% if contactService.contact.department %}
                            <dd>{{ contactService.contact.department }}</dd>
                        {% endif %}

                        {% set financialAddress = contactService.getFinancialAddress() %}
                        <dd>{{ financialAddress.address.address }}</dd>
                        <dd>{{ financialAddress.address.zipcode }} {{ financialAddress.address.city }}</dd>
                        <dd>{{ financialAddress.address.country|upper }}</dd>

                        <dt>{{ translate('txt-vat-number') }}</dt>
                        {% if organisationService.organisation.financial %}
                            <dd>{{ organisationService.organisation.financial.vat }}</dd>
                        {% else %}
                            <dd>{{ translate("txt-no-finanical-organisation-for-%s")|format(organisationService.organisation) }}</dd>
                        {% endif %}


                        <dt>{{ translate("txt-preferred-delivery") }}</dt>
                        {% if organisationService.organisation.financial.email == constant("Organisation\\Entity\\Financial::EMAIL_DELIVERY") %}
                            <dd>{{ translate("txt-by-email-to-%s")|format(contactService.contact.email) }}</dd>
                        {% else %}
                            <dd>{{ translate("txt-by-postal-mail") }}</dd>
                        {% endif %}
                    </dl>

                {% else %}
                    {{ ztbalert().danger(translate("txt-we-have-no-billing-information-for-this-partner-%s")|format(affiliationService.affiliation))|raw }}
                {% endif %}

                {{ affiliationLink(affiliationService.affiliation, 'edit-financial','button') }}
            </tab>

            <tab heading="{{ translate("txt-payment-sheet") }}">


                {% set year =  "now"|date("Y") %}
                {% set period = ("now"|date("n") <= 6) ? 1 : 2 %}

                <h3>{{ translate("txt-payment-sheet-year-%s-period-%s")|format(year, period) }} {{ affiliationLink(affiliationService.affiliation,'payment-sheet-pdf','icon', year, period) }}</h3>

                {{ paymentSheet(affiliationService.affiliation, year, period) }}

            </tab>


        </tabset>
    </div>
    <div class="tab-pane" id="version">
        <h4>{{ translate("txt-version-information") }}</h4>

        <table class="table table-hover table-striped table-condensed">
            <thead>
            <tr>
                <th>{{ translate("txt-version") }}</th>
                <th>{{ translate("txt-status") }}</th>
                <th>{{ translate("txt-date-submitted") }}</th>
                <th>{{ translate("txt-total-effort") }}</th>
                <th>{{ translate("txt-total-cost") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for affiliationVersion in affiliationService.affiliation.version %}
                {% set versionService = versionService.setVersion(affiliationVersion.version) %}
                <tr>
                    <td>{{ versionLink(versionService,'view-admin','name') }}</td>
                    <td>{{ versionService.parseStatus() }}</td>
                    <td>{{ versionService.version.dateReviewed|time_diff }}</td>
                    <td>{{ versionService.findTotalEffortVersionByAffiliationAndVersion(affiliationVersion.affiliation, versionService.version)|parse_effort }}</td>
                    <td>{{ versionService.findTotalCostVersionByAffiliationAndVersion(affiliationVersion.affiliation, versionService.version)|parse_cost }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load('visualization', '1.1', {packages: ['line']});
            google.setOnLoadCallback(drawChart);

            function drawChart() {

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Version type');
                data.addColumn('number', 'Effort (PY)');
                data.addColumn('number', 'Costs (MEUR)');

                data.addRows([
                    {% for affiliationVersion in affiliationService.affiliation.version %}
                    {% set versionService = versionService.setVersion(affiliationVersion.version) %}
                    ['{{ versionService.version.versionType.type }}', {{ versionService.findTotalEffortVersionByAffiliationAndVersion(affiliationVersion.affiliation, versionService.version)|parse_effort }}, {{ (versionService.findTotalCostVersionByAffiliationAndVersion(affiliationVersion.affiliation, versionService.version) / 1000000)|number_format(1,'.','') }}],
                    {% endfor %}
                ]);


                var options = {
                    chart: {
                        title: 'Overview costs and efforts',
                    },
                    height: 600,
                    series: {
                        // Gives each series an axis name that matches the Y-axis below.
                        0: {axis: 'Effort'},
                        1: {axis: 'Cost'}
                    },
                    axes: {
                        x: {
                            0: {
                                side: 'bottom'
                            }
                        },
                        y: {
                            Effort: {
                                label: 'Effort (PY)',
                            },
                            Cost: {label: 'Costs (MEUR)'}
                        }

                    },
                };

                var chart = new google.charts.Line(document.getElementById('line_top_x'));

                chart.draw(data, options);
            }
        </script>

        <div id="line_top_x"></div>

        <h4>{{ translate("txt-funding") }}</h4>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ translate("txt-date-from") }}</th>
                <th>{{ translate("txt-date-until") }}</th>
                <th>{{ translate("txt-source") }}</th>
                <th>{{ translate("txt-status") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for funding in affiliationService.affiliation.funding %}
                <tr>
                    <td>{{ funding.dateStart|date("d-m-Y") }}</td>
                    <td>{{ funding.dateEnd|date("d-m-Y") }}</td>
                    <td>{{ funding.source }}</td>
                    <td class="funding-status {{ funding.status.parseCssName }}">{{ funding.status.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="tab-pane" id="report">

        <h4>{{ translate("txt-progress-report-information") }}</h4>

        {% if affiliationService.affiliation.project.report.count() > 0 %}
            <table class="table table table-hover table-striped">
                <thead>
                <tr>
                    <th class="col-md-3">{{ translate("txt-report") }}</th>
                    <th class="col-md-2">{{ translate("txt-contact") }}</th>
                    <th>{{ translate("txt-effort-planned") }}</th>
                    <th>{{ translate("txt-effort-spent") }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for report in affiliationService.affiliation.project.report %}


                    {% set effortSpent = reportService.findEffortSpentByReportAndAffiliation(report, affiliationService.affiliation) %}

                    {% if latestVersion %}
                        {% set totalPlannedEffort = versionService.findTotalEffortByAffiliationAndVersionUpToReportingPeriod(
                        affiliationService.affiliation,
                        latestVersion,
                        report) %}
                    {% endif %}

                    <tr {% if report.dateFinal %}class="success"{% endif %}>
                        <td>{{ report.parseName() }}</td>
                        <td>{{ report.contact.displayName }}</td>
                        <td>{{ totalPlannedEffort|parse_effort }} [{{ translate("txt-py") }}]</td>
                        {% if effortSpent %}
                            <td {% if effortSpent.comment|length > 0 %}title="{{ effortSpent.comment }}{% endif %}">{{ effortSpent.effort|parse_effort }}
                                [{{ translate("txt-py") }}]
                            </td>
                            <td>
                                {% if not report.dateFinal %}{{ affiliationEffortSpentLink(affiliationService.affiliation, 'update-effort-spent', 'update', report) }}{% endif %}</td>
                        {% else %}
                            <td></td>
                            <td>{% if not report.dateFinal %}{{ affiliationEffortSpentLink(affiliationService.affiliation, 'update-effort-spent', 'button', report) }}{% endif %}</td>
                        {% endif %}
                    </tr>
                    {% if effortSpent %}
                        <tr>
                            <td></td>
                            <td colspan="4"><strong>{{ translate("txt-summary") }}
                                    : </strong>{{ effortSpent.summary|nl2br|default(translate("txt-not-provided")) }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <br>
            {{ ztbalert().info(translate("txt-no-effort-spent-has-been-provided-for-%s")|format(projectService.parseFullname()))|raw }}
        {% endif %}

        <h4>{{ translate("txt-exploitation-related-achievement") }}</h4>

        {% if affiliationService.affiliation.achievement.count > 0 %}
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>{{ translate("txt-achievement") }}</th>
                    <th>{{ translate("txt-date") }}</th>
                    <th>{{ translate("txt-status") }}</th>
                    <th>{{ translate("txt-category") }}</th>
                    <th>{{ translate("txt-type") }}</th>
                    <th>{{ translate("txt-contact") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for achievement in affiliationService.affiliation.achievement %}
                    <tr>
                        <td>
                            {{ achievementLink(achievement,'view-admin', 'name') }}
                        </td>
                        <td>{{ achievement.dateCreated|string_date }} {% if latestReviewMeeting and latestReviewMeeting.dateEnd < result.dateCreated %}
                                <span class="label label-primary">{{ translate("txt-new") }}</span>{% endif %}</td>
                        <td>{{ translate(achievement.getStatus(true)) }}</td>
                        <td>{{ achievement.type.category }}</td>
                        <td>{{ achievement.type }}</td>
                        <td>{{ achievement.contact.displayName }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <br>
            {{ ztbalert().info(translate("txt-no-exploitation-related-achievements-were-created-for-%s")|format(projectService.parseFullname()))|raw }}
        {% endif %}

        {{ achievementLink(null, 'create', 'button', affiliationService.affiliation) }}
    </div>
    <div class="tab-pane" id="invoice">

        <h3>{{ translate("txt-partner-invoices") }}</h3>

        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>{{ translate("txt-invoice-number") }}</th>
                <th>{{ translate("txt-invoice-date") }}</th>
                <th>{{ translate("txt-period") }}</th>
                <th>{{ translate("txt-amount") }}</th>
                <th>{{ translate("txt-status") }}</th>
                <th>{{ translate("txt-download") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for affilaitionInvoice in affiliationService.affiliation.invoice %}
                {% set invoiceService = invoiceService.setInvoice(affilaitionInvoice.invoice) %}
                <tr>
                    <td>{{ invoiceLink(affilaitionInvoice.invoice,'view','invoice') }}</td>
                    <td>{{ affilaitionInvoice.invoice.dateInvoice|date("d-m-Y") }}</td>
                    <td>{{ affilaitionInvoice.year }}-{{ affilaitionInvoice.period }}</td>
                    <td>{{ invoiceService.parseTotal()|localizedcurrency("EUR") }}</td>
                    <td>{{ invoiceService.parseStatus() }}</td>
                    <td>{{ invoiceLink(invoiceService.invoice,'download','icon') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </tab>
    </div>
</div>

