{% do headLink().appendStylesheet(
    '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css'
) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{{ formelement(form.get('csrf')) }}

{% set activeCategory = '' %}

{% for fieldset in form.get('answers').getFieldsets() %}
    {% set currentCategory = fieldset.getObject().questionnaireQuestion.question.category.category %}
    {% if currentCategory != activeCategory %}
        <h2>{{ currentCategory }}</h2>
        {% set activeCategory = currentCategory %}
    {% endif %}
    {{ ztbformelement(fieldset.get('value')) }}
{% endfor %}
<hr>
<div class="form-group row">
    <div class="offset-sm-3 col-sm-3">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

<script type="text/javascript">
    $('input[type=date]').datepicker({
        sliderAccessArgs: {touchonly: false},
        dateFormat: 'yy-mm-dd'
    });
</script>