{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{{ formelement(form.get('csrf')) }}

{% set activeCategory = '' %}

{% for fieldset in form.get('answers').getFieldsets() %}
    {% set currentCategory = fieldset.getObject().questionnaireQuestion.question.category.category %}
    {% if currentCategory != activeCategory %}
        <h2>{{ currentCategory }}</h2>
        {% set activeCategory = currentCategory %}
    {% endif %}
    {{ ztbformelement(fieldset.get('value')) }}
{% endfor %}
<hr>
<div class="row mb-3">
    <div class="offset-sm-3 col-sm-3">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}