{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{{ formelement(form.get('csrf')) }}

{% set question = form.get('affiliation_entity_questionnaire_question') %}

{{ ztbformelement(question.get('category')) }}
{{ ztbformelement(question.get('question')) }}
{{ ztbformelement(question.get('helpBlock')) }}
{{ ztbformelement(question.get('placeholder')) }}
{{ ztbformelement(question.get('inputType')) }}
{{ ztbformelement(question.get('values')) }}
{{ ztbformelement(question.get('required')) }}
{{ ztbformelement(question.get('enabled')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
        {% if form.has('delete') %}
            {{ ztbformelement(form.get('delete')) }}
        {% endif %}
    </div>
</div>

{{ form().closeTag()|raw }}
