{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-unapproved-affiliation-doa")) %}

{% do headLink().appendStylesheet(
'//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css'
) %}

<h1>{{ translate("txt-unapproved-affiliation-doa") }}</h1>

<table class="table table-hover table-consended table-striped">
    <thead>
    <tr>
        <th>{{ translate("txt-organisation") }}</th>
        <th>{{ translate("txt-country") }}</th>
        <th>{{ translate("txt-project") }}</th>
        <th>{{ translate("txt-operations") }}</th>
        <th>{{ translate("txt-signer") }}</th>
        <th>{{ translate("txt-date-signed") }}</th>
        <th>{{ translate("txt-approve") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for doa in doa %}
        {% set projectService = projectServiceProxy(doa.affiliation.project) %}
        <tr id="doa-{{ doa.id }}">
            <td>{{ affiliationLink(doa.affiliation,'view-community','name') }}</td>
            <td>{{ doa.affiliation.organisation.country }}</td>
            <td>{{ projectLink(projectService,'view-admin','name') }}</td>
            <td>{{ doaLink(doa,'view-admin','icon') }} {{ doaLink(doa,'download','icon') }}</td>
            <td>{{ formElement(form.get('affiliation_' ~ doa.affiliation.id).get('contact').setValue(doa.contact.id)) }}</td>
            <td>{{ formElement(form.get('affiliation_' ~ doa.affiliation.id).get('dateSigned')) }}</td>
            <td>
                <button type="button" rel="{{ doa.id }}" data-complete-text="Approved"
                        class="btn btn-info approveButton"
                        autocomplete="off"><i class="fa fa-check"></i>
                    {{ translate("txt-approve") }}</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">

    $(document).on('click', '.approveButton', function (e) {

        e.preventDefault();

        var btn = $(this);
        btn.button('loading');

        //DoaId
        var doaId = btn.attr('rel');

        $.ajax({
            url: '{{ serverUrl() }}{{ url('zfcadmin/affiliation/doa/approve') }}',
            type: 'post',
            dataType: 'json',
            data: {
                'doa': doaId,
                'contact': $("#contact-" + doaId).val(),
                'dateSigned': $("#dateSigned-" + doaId).val()
            },
            success: function (response) {
                if (response.result == 'success') {
                    btn.addClass('complete');
                    $("#doa-" + doaId).addClass('success');
                    btn.button('complete'); // button text will be "finished!"
                }

                if (response.result == 'error') {
                    btn.button('reset');
                    alert(response.error);
                }

            },
            error: function (xhr) {
                console.log(xhr);
                alert('Error! Did you enable adblock????? Status = ' + xhr.status);
            }
        });


    });


    $('input[type=text]').datepicker({
        sliderAccessArgs: {touchonly: false},
        dateFormat: 'yy-mm-dd'
    });
</script>
