{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-unapproved-affiliation-doa")) %}

{% do headLink().appendStylesheet(
    '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css'
    ) %}

<h1>{{ translate("txt-unapproved-affiliation-doa") }}</h1>

<table class="table table-striped table-sm table-hover">
    <thead>
    <tr>
        <th>{{ translate("txt-organisation") }}</th>
        <th>{{ translate("txt-country") }}</th>
        <th>{{ translate("txt-project") }}</th>
        <th>{{ translate("txt-operations") }}</th>
        <th>{{ translate("txt-signer") }}</th>
        <th>{{ translate("txt-date-signed") }}</th>
        <th>{{ translate("txt-approve") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for doa in doa %}
        <tr id="doa-{{ doa.id }}">
            <td>{{ doa.affiliation }}</td>
            <td>{{ doa.affiliation.organisation.country }}</td>
            <td>{{ doa.affiliation.project }}</td>
            <td>{{ doaLink(doa,'view-admin','icon') }} {{ doaLink(doa,'download','icon') }}</td>
            <td>{{ formElement(form.get('affiliation_' ~ doa.affiliation.id).get('contact')) }}</td>
            <td>{{ formElement(form.get('affiliation_' ~ doa.affiliation.id).get('dateSigned')) }}</td>
            <td>
                <button type="button" data-doa-id="{{ doa.id }}"
                        class="btn btn-info approveButton">{{ translate("txt-approve") }}</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(document).on('click', '.approveButton', function (e) {

        e.preventDefault();

        var btn = $(this);
        btn.data('original-text', btn.html());
        btn.html('<i class="fa fa-circle-o-notch fa-spin"></i> loading...');

        //DoaId
        var doaId = btn.data('doa-id');

        $.ajax({
            url: '{{ serverUrl() }}{{ url('zfcadmin/affiliation/doa/approve') }}',
            type: 'post',
            dataType: 'json',
            data: {
                'doa': doaId,
                'contact': $("#contact-" + doaId).val(),
                'dateSigned': $("#dateSigned-" + doaId).val()
            },
            success: function (response) {
                if (response.result === 'success') {
                    btn.attr('class', 'btn btn-success');
                    btn.html('<i class="fa fa-check"></i> Approved');
                    $("#doa-" + doaId).addClass('table-success');
                }

                if (response.result === 'error') {
                    btn.html(btn.data('original-text'));
                    alert(response.error);
                }

            },
            error: function (xhr) {
                alert('Error! Did you enable adblock? Status = ' + xhr.status);
            }
        });


    });


    $('input[type=date]').datepicker({
        sliderAccessArgs: {touchonly: false},
        dateFormat: 'yy-mm-dd'
    });
</script>
