{% set projectService = projectServiceProxy(affiliationService.affiliation.project) %}

<h1>{{ translate("txt-edit-doa-%s-in-%s")|format(
    affiliationService.affiliation.organisation.organisation,
    projectService.parseFullname
    ) }}</h1>

{% if affiliationService.affiliation.doaReminder.count() > 0 %}

    <table class="table table-hover table-consended table-striped">
        <thead>
        <tr>
            <th>{{ translate("txt-reminder-date") }}</th>
            <th>{{ translate("txt-email") }}</th>
            <th>{{ translate("txt-sender") }}</th>
            <th>{{ translate("txt-receiver") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for reminder in affiliationService.affiliation.doaReminder %}
            <tr>
                <td>{{ reminder.dateCreated|string_date }}</td>
                <td>{{ reminder.email|raw }}</td>
                <td>{{ reminder.sender.displayName }}</td>
                <td>{{ reminder.receiver.displayName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ ztbalert().info(translate("txt-no-reminders-have-been-send-yet"))|raw }}
{% endif %}

{{ doaLink(null, 'remind-admin', 'button', affiliationService.affiliation) }}
{{ doaLink(null, 'approval-admin', 'button') }}
{{ doaLink(null, 'missing-admin', 'button') }}