<h1>{{ translate("txt-declaration-of-acceptance") }}</h1>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-project-partner") }}</dt>
    <dt>{{ doa.affiliation }}</dt>
    <dt>{{ translate("txt-project-partner") }}</dt>
    <dt>{{ doa.affiliation }}</dt>

</dl>