{% set invoiceMethodId = invoiceMethod.id %}

{% if invoiceMethodId is constant("\\Invoice\\Entity\\Method::METHOD_PERCENTAGE_CONTRACT") and (not contractVersion or not useContractData) %}
    {% set invoiceMethodId = constant("\\Invoice\\Entity\\Method::METHOD_PERCENTAGE") %}
{% endif %}

<h2>{{ translate("txt-payment-sheet-year-%s-period-%s")|format(year, period) }}
    {% if invoiceMethodId is constant("\\Invoice\\Entity\\Method::METHOD_PERCENTAGE_CONTRACT") %}
        {{ affiliationLink(affiliation,'payment-sheet-pdf-contract','icon', year, period) }}
    {% else %}
        {{ affiliationLink(affiliation,'payment-sheet-pdf','icon', year, period) }}
    {% endif %}
</h2>

{% if invoiceMethodId is constant("\\Invoice\\Entity\\Method::METHOD_PERCENTAGE_CONTRACT") %}
    {{ ztbalert().info(translate("txt-payment-sheet-is-based-on-national-contract-data"))|raw }}
{% endif %}


<table class="table table-striped table-hover table-sm">
    <thead>
    <tr>
        <th colspan="2">{{ translate("txt-project-details") }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ translate("txt-project-number") }}</td>
        <td>{{ project.number }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-project-name") }}</td>
        <td>{{ project.project }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-start-date") }}</td>
        <td>{{ projectService.parseOfficialDateStart(project)|date('d-m-Y') }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-end-date") }}</td>
        <td>{{ projectService.parseOfficialDateEnd(project)|date('d-m-Y') }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-version-name") }}</td>
        <td>{{ version.versionType }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-version-status") }}</td>
        <td>{{ versionService.parseStatus(version) }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-version-date") }}</td>
        <td>{{ version.dateSubmitted|date("d-m-Y") }}</td>
    </tr>
    <tr>
        <th colspan="2">{{ translate("txt-project-partner") }}</th>
    </tr>
    <tr>
        <td>{{ translate("txt-organisation") }}</td>
        <td>{{ affiliation.organisation }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-organisation-type") }}</td>
        <td>{{ affiliation.organisation.type }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-country") }}</td>
        <td>{{ affiliation.organisation.country }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-total-person-years") }}</td>
        <td>{{ versionContributionInformation.totalEffort|parse_effort }} {{ translate('txt-py') }}</td>
    </tr>

    <tr>
        <th colspan="2">{{ translate("txt-technical-contact") }}</th>
    </tr>
    <tr>
        <td>{{ translate("txt-name") }}</td>
        <td>{{ contactService.parseAttention(affiliation.contact) }} {{ affiliation.contact.parseFullName() }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-email") }}</td>
        <td>{{ affiliation.contact.email }}</td>
    </tr>
    {% if financialContact %}
        <tr>
            <th colspan="2">{{ translate("txt-financial-contact") }}</th>
        </tr>
        <tr>
            <td>{{ translate("txt-name") }}</td>
            <td>{{ contactService.parseAttention(financialContact) }} {{ financialContact.parseFullName()|default(translate("txt-unknown")) }}</td>
        </tr>
        <tr>
            <td>{{ translate("txt-email") }}</td>
            <td>{{ financialContact.email|default(translate("txt-unknown")) }}</td>
        </tr>
        <tr>
            <td>{{ translate("txt-vat-number") }}</td>
            <td>{{ affiliationService.parseVatNumber(affiliation) }}</td>
        </tr>
        <tr>
            <td>{{ translate("txt-billing-address") }}</td>
            {% set financialAddress = contactService.getFinancialAddress(financialContact) %}
            <td>
                {{ organisationService.parseOrganisationWithBranch(affiliation.financial.branch,affiliation.financial.organisation) }}
                <br>
                {{ contactService.parseAttention(financialContact) }} {{ financialContact.parseFullName() }}<br>
                {{ financialAddress }}<br>
                {{ financialAddress.zipCode }} {{ financialAddress.city }}<br>
                {{ financialAddress.country|upper }}
            </td>
        </tr>
        <tr>
            <td>{{ translate("txt-preferred-delivery") }}</td>
            {% if not affiliation.financial %}
                <td>{{ translate("txt-no-financial-information-for-this-partner") }}</td>
            {% elseif not affiliation.financial.organisation.financial %}
                <td>{{ translate("txt-no-financial-information-for-the-billing-organisation") }}</td>
            {% elseif affiliation.financial.organisation.financial.email == constant("Organisation\\Entity\\Financial::EMAIL_DELIVERY") %}
                <td>{{ translate("txt-by-email-to-%s")|format(financialContact.email) }}</td>
            {% else %}
                <td>{{ translate("txt-by-postal-mail") }}</td>
            {% endif %}
        </tr>
    {% endif %}
    </tbody>
</table>

<h2>{{ translate("txt-contribution-overview") }}</h2>

<table class="table table-striped table-hover table-sm">
    <thead>
    <tr>
        <th>{{ translate("txt-period") }}</th>
        <th>{{ translate("txt-funding-status") }}</th>
        {% if invoiceMethodId is constant("\\Invoice\\Entity\\Method::METHOD_PERCENTAGE_CONTRACT") %}
            <th><span class="pull-right">{{ translate("txt-costs-local-currency") }}</span></th>
            <th>{{ translate("txt-fee-percentage") }}</th>
            <th><span class="pull-right">{{ translate("txt-contribution") }}</span></th>
            <th><span class="pull-right">{{ translate("txt-amount-invoiced") }}</span></th>
        {% else %}
            <th><span class="pull-right">{{ translate("txt-costs") }}</span></th>
            <th>{{ translate("txt-fee-percentage") }}</th>
            <th><span class="pull-right">{{ translate("txt-contribution") }}</span></th>
            <th>{{ translate("txt-due") }}</th>
            <th><span class="pull-right">{{ translate("txt-amount-due") }}</span></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% set totalDueBasedOnProjectData = 0 %}
    {% for projectYear in projectService.parseYearRange(affiliation.project) %}
        {% set dueFactor = affiliationService.parseContributionFactorDue(affiliation, projectYear, year, period) %}
        <tr>
            <th scope="row">{{ projectYear }}</th>
            <td>
                {% if affiliationService.isSelfFunded(affiliation) %}
                    {{ translate("txt-self-funded") }}
                {% else %}
                    <span class="badge funding-status {{ affiliationService.getFundingInYear(affiliation,projectYear).status.parseCssName }}">{{ affiliationService.getFundingInYear(affiliation,projectYear).status.statusFunding }}</span>
                {% endif %}
            </td>

            {% if invoiceMethodId is constant("\\Invoice\\Entity\\Method::METHOD_PERCENTAGE_CONTRACT") %}
                {% set dueInYear = contractContributionInformation.cost[projectYear] / 100 * projectService.findProjectFeeByYear(projectYear).percentage %}

                <td>
                    <span class="pull-right">{{ contractContributionInformation.cost[projectYear]|currency_decimal(currency) }}</span>
                </td>

                {% if affiliationService.isFundedInYear(affiliation, projectYear) %}
                    <td>{{ projectService.findProjectFeeByYear(projectYear).percentage|number_format(2) }}%</td>
                    <td><span class="pull-right">{{ dueInYear|currency_decimal(currency) }}</span></td>
                    {% if projectYear <= year %}
                        <td>
                            <span class="pull-right">{{ affiliationService.parseAmountInvoicedInYearByAffiliation(affiliation,projectYear)|currency_decimal() }}</span>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% else %}
                    <td>{{ 0|number_format(2) }}%</td>
                    <td><span class="pull-right">{{ 0|currency_decimal(currency) }}</span></td>
                    {% if projectYear <= year %}
                        <td>
                            <span class="pull-right">{{ affiliationService.parseAmountInvoicedInYearByAffiliation(affiliation,projectYear)|currency_decimal() }}</span>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if invoiceMethodId is constant("\\Invoice\\Entity\\Method::METHOD_PERCENTAGE") %}
                {% set dueInYear = versionContributionInformation.cost[projectYear] / 100 * projectService.findProjectFeeByYear(projectYear).percentage %}
                <td>
                    <span class="pull-right">&euro; {{ versionContributionInformation.cost[projectYear]|number_format(0) }}</span>
                </td>
                <td>{% if affiliationService.isFundedInYear(affiliation, projectYear) %}{{ projectService.findProjectFeeByYear(projectYear).percentage|number_format(2) }}{% else %}0{% endif %}
                    %
                </td>
                <td>
                    <span class="pull-right">{% if affiliationService.isFundedInYear(affiliation, projectYear) %}{{ dueInYear|currency_decimal() }}{% else %}{{ 0|currency_decimal() }}{% endif %}</span>
                </td>
                <td>{{ dueFactor|localizednumber('percent') }}</td>
                <td><span class="pull-right">{{ (dueInYear * dueFactor)|currency_decimal() }}</span></td>
            {% endif %}

            {% if invoiceMethod.id is constant("\\Invoice\\Entity\\Method::METHOD_CONTRIBUTION") %}
                {% set dueInYear = versionContributionInformation.effort[projectYear] * projectService.findProjectFeeByYear(projectYear).contribution %}
                <td>{{ versionContributionInformation.effort[projectYear]|parse_effort }} {{ translate("txt-py") }}</td>
                <td>
                    &euro; {% if affiliationService.isFundedInYear(affiliation, year) %}{{ projectService.findProjectFeeByYear(year).contribution|number_format(2) }}{% else %}0{% endif %}</td>
                <td>{% if affiliationService.isFundedInYear(affiliation, projectYear) %}{{ dueInYear|currency_decimal() }}{% else %}{{ 0|currency_decimal() }}{% endif %}</td>

                <td>{{ dueFactor|localizednumber('percent') }}</td>
                <td><span class="pull-right">{{ (dueInYear * dueFactor)|currency_decimal() }}</span></td>
            {% endif %}
            {% set totalDueBasedOnProjectData = totalDueBasedOnProjectData + dueInYear * dueFactor %}
        </tr>
    {% endfor %}
    </tbody>

    <tfoot>
    <tr>
        {% if invoiceMethodId is constant("\\Invoice\\Entity\\Method::METHOD_PERCENTAGE_CONTRACT") %}
            <td colspan="8"></td>
        {% else %}
            <td colspan="4"></td>
            <th colspan="2" class="text-right"
            >{{ translate("txt-total-contribution-amount-due-upto-year-%s-period-%s")|format(year,period) }}</th>
            <th style="border-top: 2px solid black;"><span
                        class="pull-right">{{ totalDueBasedOnProjectData|currency_decimal() }}</span></th>
        {% endif %}
    </tr>
    </tfoot>
</table>

{% set contributionPaid = affiliationService.parseContributionPaid(affiliation, year, period) %}
{% set hasAlreadyPaidInvoices = false %}
    {% for affiliationInvoice in affiliation.invoice if affiliationInvoice.invoice.dayBookNumber and affiliationInvoice.year < year or (affiliationInvoice.year == year and affiliationInvoice.period < period) %}
        {% set hasAlreadyPaidInvoices = true %}
    {% endfor %}

    {% if hasAlreadyPaidInvoices %}
        <h2>{{ translate("txt-overview-of-invoices-sent-up-to-year-%s-period-%s")|format(year, period) }}</h2>
        {# paid invoices in the selected period#}
        <table class="table table-striped table-hover table-sm">
            <thead>
            <tr>
                <th>{{ translate("txt-invoice") }}</th>
                <th>{{ translate("txt-period") }}</th>
                <th>{{ translate("txt-invoice-period") }}</th>
                <th>{{ translate("txt-date") }}</th>
                <th>{{ translate("txt-contribution-euro") }}</th>
                <th>{{ translate("txt-paid") }}</th>
                <th><span class="pull-right">{{ translate("txt-invoiced-euro") }}</span></th>
            </tr>
            </thead>
            <tbody>
            {% for affiliationInvoice in affiliation.invoice if affiliationInvoice.invoice.dayBookNumber and affiliationInvoice.year < year or (affiliationInvoice.year == year and affiliationInvoice.period < period) %}
                <tr>
                    <td>{{ affiliationInvoice.invoice.invoiceNr }} {{ invoiceLink(affiliationInvoice.invoice,'download','icon') }} {{ invoiceLink(affiliationInvoice.invoice,'view','icon') }}</td>
                    <td>{{ affiliationInvoice.year }}-{{ affiliationInvoice.period }}H</td>
                    <td>
                        {% for year, periods in affiliationInvoice.years %}
                            {{ year }} ({% for period in periods %}{{ period }}H{% if not loop.last %}, {% endif %}{% endfor %})
                        {% endfor %}
                    </td>
                    <td>{{ affiliationInvoice.invoice.dateSent|date("d-m-Y") }}</td>
                    <td>{{ invoiceService.parseSumAmount(affiliationInvoice.invoice)|currency_decimal() }}</td>
                    <td>{% if affiliationInvoice.invoice.bookingDate %}{{ affiliationInvoice.invoice.bookingDate|date("d-m-Y") }}{% endif %}</td>
                    <td>
                        <span class="pull-right">{{ invoiceService.parseTotal(affiliationInvoice.invoice)|currency_decimal() }}</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="3" class="text-right">
                    {{ translate("txt-total-contribution-invoiced-upto-year-%s-period-%s")|format(year,period) }}</th>
                <th style="border-top: 2px solid black;">{{ contributionPaid|currency_decimal() }}</th>
                <td colspan="2"></td>
            </tr>
            </tfoot>
        </table>
    {% endif %}

{% if invoiceMethodId is constant("\\Invoice\\Entity\\Method::METHOD_PERCENTAGE_CONTRACT") %}

    {% set total = affiliationService.parseContractTotal(affiliation, contractVersion, year, period) %}

    {% if affiliationService.findInvoiceLines(affiliation, contractVersion, year, period)|length > 0 %}
        <h2>{{ translate("txt-upcoming-invoice-for-year-%s-period-%s")|format(year, period) }}</h2>
        <table class="table table-hover table-striped table-sm">
            <thead>
            <tr>
                <th>{{ translate("txt-period") }}</th>
                <th>{{ translate("txt-information") }}</th>
                <th><span class="pull-right">{{ translate("txt-amount") }}</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for invoiceLine in affiliationService.findInvoiceLines(affiliation, contractVersion, year, period) %}
                <tr>
                    <td>{{ invoiceLine.periodOrdinal }}</td>
                    <td>{{ invoiceLine.description }}</td>
                    <td><span class="pull-right">{{ invoiceLine.lineTotal|currency_decimal() }}</span></td>
                    <td>{% if invoiceLine.lineTotal < -0.1 %}{{ translate("txt-credit") }}{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <th class="text-right">{{ translate("txt-total") }}</th>
                <th style="border-top: 2px solid black;"><span
                            class="pull-right">{{ (total)|currency_decimal() }}</span>
                </th>
                <th>{% if  total < -0.1 %}{{ translate("txt-credit") }}{% endif %}</th>
            </tr>
            </tfoot>
        </table>
    {% endif %}

    {% set hasInvoicesInPeriod = false %}
    {% for affiliationInvoice in affiliation.invoice if affiliationInvoice.year == year and affiliationInvoice.period == period %}
        {% set hasInvoicesInPeriod = true %}
    {% endfor %}

    {% if hasInvoicesInPeriod %}
        <h2>{{ translate("txt-invoice-sent-in-year-%s-period-%s")|format(year, period) }}</h2>
        {# paid invoices in the selected period#}
        <table class="table table-striped table-hover table-sm">
            <thead>
            <tr>
                <th>{{ translate("txt-invoice") }}</th>
                <th>{{ translate("txt-period") }}</th>
                <th>{{ translate("txt-invoice-period") }}</th>
                <th>{{ translate("txt-date") }}</th>
                <th>{{ translate("txt-contribution-euro") }}</th>
                <th>{{ translate("txt-paid") }}</th>
                <th><span class="pull-right">{{ translate("txt-invoiced-euro") }}</span></th>
            </tr>
            </thead>
            <tbody>
            {% for affiliationInvoice in affiliation.invoice if affiliationInvoice.year == year and affiliationInvoice.period == period %}
                <tr>
                    <td>{{ affiliationInvoice.invoice.invoiceNr }} {{ invoiceLink(affiliationInvoice.invoice,'download','icon') }} {{ invoiceLink(affiliationInvoice.invoice,'view','icon') }}</td>
                    <td>{{ affiliationInvoice.year }}-{{ affiliationInvoice.period }}H</td>
                    <td>
                        {% for year, periods in affiliationInvoice.years %}
                            {{ year }} ({% for period in periods %}{{ period }}H{% if not loop.last %}, {% endif %}{% endfor %})
                        {% endfor %}
                    </td>
                    <td>{{ affiliationInvoice.invoice.dateSent|date("d-m-Y") }}</td>
                    <td>{{ invoiceService.parseSumAmount(affiliationInvoice.invoice)|currency_decimal() }}</td>
                    <td>{% if affiliationInvoice.invoice.bookingDate %}{{ affiliationInvoice.invoice.bookingDate|date("d-m-Y") }}{% endif %}</td>
                    <td class="text-right">{{ invoiceService.parseTotal(affiliationInvoice.invoice)|currency_decimal() }}</td>
                </tr>
                <tr>
                    <td></td>
                    <th colspan="6">{{ translate("txt-invoiced-in-%s")|format(affiliationInvoice.invoice.invoiceNr) }}</th>
                </tr>
                {% for row in affiliationInvoice.invoice.row %}
                    <tr>
                        <td></td>
                        <td colspan="2">{{ row.row|raw }}
                        <td colspan="4">{{ (row.quantity * row.amount)|currency_decimal() }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td colspan="2" class="text-right">{{ translate("txt-total-excl-vat") }}</td>
                    <th colspan="4">{{ affiliationInvoice.amountInvoiced|currency_decimal() }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {{ invoiceService.parseExchangeRateLine(null, currency, year, period) }}

{% else %}

    {% set total =  affiliationService.parseTotal(affiliation, version, year, period) %}
    {% set contributionDue =  affiliationService.parseContributionDue(affiliation, version, year, period) %}

    {% set balance = affiliationService.parseBalance(affiliation, version, year, period) %}

    {% set contribution = affiliationService.parseContribution(affiliation, version, null, year, period, false) %}
    {% set contributionRaw = affiliationService.parseContribution(affiliation, version, null, year, period, false, true) %}

    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th colspan="2">{{ translate("txt-correction-calculation") }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-right">{{ translate("txt-total-contribution-amount-due-upto-year-%s-period-%s")|format(year,period) }}</td>
            <td><span class="pull-right">{{ contributionDue|currency_decimal() }}</span></td>
        </tr>
        <tr>
            <td class="text-right">
                {{ translate("txt-total-contribution-invoiced-upto-year-%s-period-%s")|format(year,period) }}</td>
            <td><span class="pull-right">{{ contributionPaid|currency_decimal() }}</span></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th class="text-right">{{ translate("txt-correction") }}</th>
            <th style="border-top: 2px solid black;"><span
                        class="pull-right">{{ balance|currency_decimal() }}</span>
            </th>
        </tr>
        </tfoot>
    </table>

    <h2>{{ translate("txt-upcoming-invoice-for-year-%s-period-%s")|format(year,period) }}</h2>
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-period") }}</th>
            <th>{{ translate("txt-information") }}</th>
            <th><span class="pull-right">{{ translate("txt-amount") }}</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ year }}-{{ period }}</td>
            <td>{{ translate("txt-%s-contribution-for-%s")|format(affiliationService.parseContributionFactor(affiliation, year, period)|localizednumber('percent'),year) }}</td>
            <td><span class="pull-right">{{ contribution|currency_decimal() }}</span></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>{{ translate("txt-correction") }}</td>
            <td><span class="pull-right">{{ balance|currency_decimal() }}</span></td>
            <td>{% if balance < -0.1 %}{{ translate("txt-credit") }}{% endif %}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <th class="text-right">{{ translate("txt-total") }}</th>
            <th style="border-top: 2px solid black;"><span class="pull-right">{{ (total)|currency_decimal() }}</span>
            </th>
            <th>{% if  total < -0.1 %}{{ translate("txt-credit") }}{% endif %}</th>
        </tr>
        </tfoot>
    </table>

    {% set hasAlreadySentInvoices = false %}
    {% for affiliationInvoice in affiliation.invoice if affiliationInvoice.year > year or (affiliationInvoice.year == year and  affiliationInvoice.period > period) %}
        {% set hasAlreadySentInvoices = true %}
    {% endfor %}

    {% if hasAlreadySentInvoices %}
        <h2>{{ translate("txt-already-sent-invoices-after-invoice-for-year-%s-period-%s")|format(year,period) }}</h2>

        <table class="table table-hover table-striped table-sm">
            <thead>
            <tr>
                <th>{{ translate("txt-invoice-number") }}</th>
                <th>{{ translate("txt-period") }}</th>
                <th>{{ translate("txt-date") }}</th>
                <th>{{ translate("txt-amount-excluding-vat") }}</th>
                <th>{{ translate("txt-amount") }}</th>
                <th>{{ translate("txt-paid") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for affiliationInvoice in affiliation.invoice if affiliationInvoice.year > year or (affiliationInvoice.year == year and  affiliationInvoice.period > period) %}
                {% if invoiceService.isSent(affiliationInvoice.invoice) %}
                    <tr>
                        <td>{{ affiliationInvoice.invoice.invoiceNr }} {{ invoiceLink(affiliationInvoice.invoice,'download','icon') }}</td>
                        <td>{{ affiliationInvoice.year }}-{{ affiliationInvoice.period }}H</td>
                        <td>{{ affiliationInvoice.invoice.dateSent|date("d-m-Y") }}</td>
                        <td>{{ invoiceService.parseSumAmount(affiliationInvoice.invoice)|currency_decimal() }}</td>
                        <td>{{ invoiceService.parseTotal(affiliationInvoice.invoice)|currency_decimal() }}</td>
                        <td>{% if affiliationInvoice.invoice.bookingDate %}{{ affiliationInvoice.invoice.bookingDate|date("d-m-Y") }}{% endif %}</td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="6">{{ translate("txt-no-invoices-found") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}


{% endif %}






