<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th colspan="2">{{ translate("txt-project-details") }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="col-md-2">{{ translate("txt-project-number") }}</td>
        <td class="col-md-4">{{ project.number }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-project-name") }}</td>
        <td>{{ project.project }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-start-date") }}</td>
        <td>{{ projectService.parseOfficialDateStart(project)|date('d-m-Y') }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-end-date") }}</td>
        <td>{{ projectService.parseOfficialDateEnd(project)|date('d-m-Y') }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-version-name") }}</td>
        <td>{{ version.versionType }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-version-status") }}</td>
        <td>{{ versionService.parseStatus(version) }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-version-date") }}</td>
        <td>{{ version.dateSubmitted|date("d-m-Y") }}</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th colspan="3">{{ translate("txt-project-partner") }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="col-md-2">{{ translate("txt-organisation") }}</td>
        <td class="col-md-4">{{ affiliation.organisation }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-organisation-type") }}</td>
        <td>{{ affiliation.organisation.type }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-country") }}</td>
        <td>{{ affiliation.organisation.country }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-total-person-years") }}</td>
        <td>{{ versionContributionInformation.totalEffort|parse_effort }} {{ translate('txt-py') }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-total-costs") }}</td>
        <td>{{ versionContributionInformation.totalCost|parse_cost }} k&euro;</td>
    </tr>
    {% if versionContributionInformation.totalEffort > 0 %}
        <tr>
            <td>{{ translate("txt-average-cost") }}</td>
            <td>{{ (versionContributionInformation.totalCost / versionContributionInformation.totalEffort)|parse_cost }}
                k&euro;{{ translate('txt-py') }}
                <sup>-1</sup></td>
        </tr>
    {% endif %}
    </tbody>
</table>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th colspan="2">{{ translate("txt-technical-contact") }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="col-md-2">{{ translate("txt-name") }}</td>
        <td class="col-md-4">{{ contactService.parseAttention(affiliation.contact) }} {{ affiliation.contact.parseFullName() }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-email") }}</td>
        <td>{{ affiliation.contact.email }}</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped table-hover">
    <thead>

    <tr>
        <th colspan="2">{{ translate("txt-financial-contact") }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="col-md-2">{{ translate("txt-name") }}</td>
        <td class="col-md-4">{{ contactService.parseAttention(financialContact) }} {{ financialContact.parseFullName()|default(translate("txt-unknown")) }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-email") }}</td>
        <td>{{ financialcontact.email|default(translate("txt-unknown")) }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-vat-number") }}</td>
        <td>{{ affiliationService.parseVatNumber(affiliation) }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-billing-address") }}</td>
        {% set financialAddress = contactService.getFinancialAddress(financialContact) %}
        <td>
            {{ organisationService.parseOrganisationWithBranch(affiliation.financial.branch,affiliation.financial.organisation) }}
            <br>
            {{ contactService.parseAttention(financialContact) }} {{ financialContact.parseFullName() }}<br>
            {{ financialAddress }}<br>
            {{ financialAddress.zipCode }} {{ financialAddress.city }}<br>
            {{ financialAddress.country|upper }}
        </td>
    </tr>
    <tr>
        <td class="col-md-2">{{ translate("txt-preferred-delivery") }}</td>
        {% if not affiliation.financial %}
            <td class="col-md-4">{{ translate("txt-no-financial-information-for-this-partner") }}</td>
        {% elseif not affiliation.financial.organisation.financial %}
            <td class="col-md-4">{{ translate("txt-no-financial-information-for-the-billing-organisation") }}</td>
        {% elseif affiliation.financial.organisation.financial.email == constant("Organisation\\Entity\\Financial::EMAIL_DELIVERY") %}
            <td class="col-md-4">{{ translate("txt-by-email-to-%s")|format(financialcontact.email) }}</td>
        {% else %}
            <td class="col-md-4">{{ translate("txt-by-postal-mail") }}</td>
        {% endif %}
    </tr>
    </tbody>
</table>

<h4>{{ translate("txt-contribution-overview") }}</h4>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>{{ translate("txt-period") }}</th>
        <th>{{ translate("txt-funding-status") }}</th>
        <th>{{ translate("txt-costs-euro") }}</th>
        <th>{{ translate("txt-fee-percentage") }}</th>
        <th>{{ translate("txt-contribution-euro") }}</th>
        <th>{{ translate("txt-due") }}</th>
        <th class="col-md-2">{{ translate("txt-amount-due") }}</th>
    </tr>
    </thead>
    <tbody>
    {% set totalDueBasedOnProjectData = 0 %}
    {% for projectYear in projectService.parseYearRange(affiliation.project, false, affiliation) %}
        {% set dueFactor = affiliationService.parseContributionFactorDue(affiliation, projectYear, year, period) %}
        <tr>
            <th>{{ projectYear }}</th>
            <td>
                {% if affiliationService.isSelfFunded(affiliation) %}
                    {{ translate("txt-self-funded") }}
                {% else %}
                    <span class="badge funding-status {{ affiliationService.getFundingInYear(affiliation,projectYear).status.parseCssName }}">{{ affiliationService.getFundingInYear(affiliation,projectYear).status.status }}</span>
                {% endif %}
            </td>

            {% if invoiceMethod.id is constant("\\Invoice\\Entity\\Method::METHOD_PERCENTAGE") %}
                {% set dueInYear = versionContributionInformation.cost[projectYear] / 100 * projectService.findProjectFeeByYear(projectYear).percentage %}
                <td>&euro; {{ versionContributionInformation.cost[projectYear]|number_format(0) }}</td>
                <td>{% if affiliationService.isFundedInYear(affiliation, projectYear) %}{{ projectService.findProjectFeeByYear(projectYear).percentage|number_format(2) }}{% else %}0{% endif %}
                    %
                </td>
                <td>{% if affiliationService.isFundedInYear(affiliation, projectYear) %}{{ dueInYear|localizedcurrency('EUR') }}{% else %}{{ 0|localizedcurrency('EUR') }}{% endif %}</td>
            {% endif %}
            {% if invoiceMethod.id is constant("\\Invoice\\Entity\\Method::METHOD_CONTRIBUTION") %}
                {% set dueInYear = versionContributionInformation.effort[projectYear] * projectService.findProjectFeeByYear(projectYear).contribution %}
                <td>{{ versionContributionInformation.effort[projectYear]|parse_effort }} {{ translate("txt-py") }}</td>
                <td>&euro; {% if affiliationService.isFundedInYear(affiliation, year) %}{{ projectService.findProjectFeeByYear(year).contribution|number_format(2) }}{% else %}0{% endif %}</td>
                <td>{% if affiliationService.isFundedInYear(affiliation, projectYear) %}{{ dueInYear|localizedcurrency('EUR') }}{% else %}{{ 0|localizedcurrency('EUR') }}{% endif %}</td>
            {% endif %}
            <td>{{ dueFactor|localizednumber('percent') }}</td>
            <td>{{ (dueInYear * dueFactor)|localizedcurrency("EUR") }}</td>
            {% set totalDueBasedOnProjectData = totalDueBasedOnProjectData + dueInYear * dueFactor %}
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4"></td>
        <th colspan="2" class="text-right"
        >{{ translate("txt-total-contribution-amount-due-upto-year-%s-period-%s")|format(year,period) }}</th>
        <th style="border-top: 2px solid black;">{{ totalDueBasedOnProjectData|localizedcurrency("EUR") }}</th>
    </tr>
    </tfoot>
</table>

{% set contributionDue = affiliationService.parseContributionDue(affiliation, version, year, period) %}
    {% set contributionPaid = affiliationService.parseContributionPaid(affiliation, year, period) %}

    {% set balance = affiliationService.parseBalance(affiliation, version, year, period) %}
    {% set total = affiliationService.parseTotal(affiliation, version, year, period) %}

<h4>{{ translate("txt-already-paid-invoices") }}</h4>
{# paid invoices in the selected period#}
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>{{ translate("txt-invoice") }}</th>
        <th>{{ translate("txt-period") }}</th>
        <th>{{ translate("txt-date") }}</th>
        <th>{{ translate("txt-contribution-euro") }}</th>
        <th>{{ translate("txt-paid") }}</th>
        <th class="col-md-2">{{ translate("txt-invoiced-euro") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for affiliationInvoice in affiliation.invoice if affiliationInvoice.invoice.dayBookNumber and affiliationInvoice.year < year or (affiliationInvoice.year == year and affiliationInvoice.period < period) %}
        <tr>
            <td>{{ affiliationInvoice.invoice.invoiceNr }} {{ invoiceLink(affiliationInvoice.invoice,'download','icon') }}</td>
            <td>{{ affiliationInvoice.year }}-{{ affiliationInvoice.period }}H</td>
            <td>{{ affiliationInvoice.invoice.dateSent|date("d-m-Y") }}</td>
            <td>{{ invoiceService.parseSumAmount(affiliationInvoice.invoice)|localizedcurrency("EUR") }}</td>
            <td>{% if affiliationInvoice.invoice.bookingDate %}{{ affiliationInvoice.invoice.bookingDate|date("d-m-Y") }}{% endif %}</td>
            <td>{{ invoiceService.parseTotal(affiliationInvoice.invoice)|localizedcurrency("EUR") }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">{{ translate("txt-no-invoices-found") }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="3" class="text-right">
            {{ translate("txt-total-contribution-invoiced-upto-year-%s-period-%s")|format(year,period) }}</th>
        <th style="border-top: 2px solid black;">{{ contributionPaid|localizedcurrency("EUR") }}</th>
        <td colspan="2"></td>
    </tr>
    </tfoot>

</table>


<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th colspan="2">{{ translate("txt-correction-calculation") }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="text-right">{{ translate("txt-total-contribution-amount-due-upto-year-%s-period-%s")|format(year,period) }}</td>
        <td class="col-md-2">{{ contributionDue|localizedcurrency("EUR") }}</td>
    </tr>
    <tr>
        <td class="text-right">
            {{ translate("txt-total-contribution-invoiced-upto-year-%s-period-%s")|format(year,period) }}</td>
        <td>{{ contributionPaid|localizedcurrency("EUR") }}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th class="text-right">{{ translate("txt-correction") }}</th>
        <th style="border-top: 2px solid black;">{{ balance|localizedcurrency("EUR") }}</th>
    </tr>
    </tfoot>
</table>

{% set contribution = affiliationService.parseContribution(affiliation, version, year, period) %}

<h4>{{ translate("txt-upcoming-invoice-for-year-%s-period-%s")|format(year,period) }}</h4>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>{{ translate("txt-period") }}</th>
        <th>{{ translate("txt-information") }}</th>
        <th class="col-md-2">{{ translate("txt-amount") }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ year }}-{{ period }}</td>
        <td>{{ translate("txt-%s-contribution-for-%s")|format(affiliationService.parseContributionFactor(affiliation, year, period)|localizednumber('percent'),year) }}</td>
        <td>{{ contribution|localizedcurrency("EUR") }}</td>
    </tr>

    <tr>
        <td></td>
        <td>{{ translate("txt-correction") }}</td>
        <td>{{ balance|localizedcurrency("EUR") }} {% if balance < 0 %}{{ translate("txt-credit") }}{% endif %}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td></td>
        <th class="text-right">{{ translate("txt-total") }}</th>
        <th style="border-top: 2px solid black;">{{ (total)|localizedcurrency("EUR") }} {% if  total < 0 %}{{ translate("txt-credit") }}{% endif %}</th>
    </tr>
    </tfoot>
</table>

<h4>{{ translate("txt-already-sent-invoices-after-invoice-for-year-%s-period-%s")|format(year,period) }}</h4>

<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>{{ translate("txt-invoice-number") }}</th>
        <th>{{ translate("txt-period") }}</th>
        <th>{{ translate("txt-date") }}</th>
        <th>{{ translate("txt-amount-excluding-vat") }}</th>
        <th>{{ translate("txt-amount") }}</th>
        <th>{{ translate("txt-paid") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for affiliationInvoice in affiliation.invoice if affiliationInvoice.year > year or (affiliationInvoice.year == year and  affiliationInvoice.period > period) %}
        {% if invoiceService.isSent(affiliationInvoice.invoice) %}
            <tr>
                <td>{{ affiliationInvoice.invoice.invoiceNr }} {{ invoiceLink(affiliationInvoice.invoice,'download','icon') }}</td>
                <td>{{ affiliationInvoice.year }}-{{ affiliationInvoice.period }}H</td>
                <td>{{ affiliationInvoice.invoice.dateSent|date("d-m-Y") }}</td>
                <td>{{ invoiceService.parseSumAmount(affiliationInvoice.invoice)|localizedcurrency("EUR") }}</td>
                <td>{{ invoiceService.parseTotal(affiliationInvoice.invoice)|localizedcurrency("EUR") }}</td>
                <td>{% if affiliationInvoice.invoice.bookingDate %}{{ affiliationInvoice.invoice.bookingDate|date("d-m-Y") }}{% endif %}</td>
            </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan="6">{{ translate("txt-no-invoices-found") }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
