{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set affiliation = form.get('affiliation_entity_affiliation') %}

<fieldset>
    <legend>{{ translate("txt-affiliation-information") }}</legend>
    {{ lbs5formelement(affiliation.get('firstName')) }}
    {{ lbs5formelement(affiliation.get('middleName')) }}
    {{ lbs5formelement(affiliation.get('lastName')) }}
    {{ lbs5formelement(affiliation.get('email')) }}
    {{ lbs5formelement(affiliation.get('gender')) }}
    {{ lbs5formelement(affiliation.get('title')) }}
</fieldset>

<fieldset>
    <legend>{{ translate("txt-organisation-information") }}</legend>
    {{ organisationformelement(form.get('organisation')) }}
    {{ lbs5formelement(form.get('branch')) }}
    {{ lbs5formelement(affiliation.get('department')) }}
    {{ lbs5formelement(affiliation.get('position')) }}
</fieldset>


<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
        {% if form.has('deactivate') %}
            {{ lbs5formelement(form.get('deactivate')) }}
        {% endif %}
    </div>
</div>

{{ form().closeTag()|raw }}
