{% include 'affiliation/admin/affiliation/tabs' %}

<h2>{{ translate("txt-version-information") }}</h2>

{% if affiliation.version.count() > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-id") }}</th>
            <th>{{ translate("txt-version") }}</th>
            <th>{{ translate("txt-status") }}</th>
            <th>{{ translate("txt-date-reviewed") }}</th>
            <th class="text-end">{{ translate("txt-total-effort") }}</th>
            <th class="text-end">{{ translate("txt-total-cost") }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="7"></td>
        </tr>
        </tfoot>
        <tbody>
        {% for affiliationVersion in affiliation.version %}
            <tr>
                {% set version = affiliationVersion.version %}
                <td><small class="text-muted">{{ affiliationVersion.id }}</small></td>
                <td>{{ versionLink(version,'general','description') }} <small class="text-muted">({{ version.id }})</small></td>
                <td>{{ versionService.parseStatus(version) }}</td>
                <td>{{ version.dateReviewed|string_date }}</td>
                <td class="text-end">{{ versionService.findTotalEffortVersionByAffiliationAndVersion(affiliationVersion.affiliation, version)|parse_effort }}</td>
                <td class="text-end">
                    {% if affiliationVersion.hasContractVersion() %}
                        {{ versionService.findTotalCostVersionByAffiliationAndVersionIncludingContract(affiliationVersion.affiliation, version, true)|currency_decimal(affiliationVersion.contractVersion.version.contract.currency) }}
                        <i class="far fa-handshake"></i>
                    {% else %}
                        {{ versionService.findTotalCostVersionByAffiliationAndVersion(affiliationVersion.affiliation, version)|currency_decimal }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ lbs5alert().info(translate("txt-there-are-no-versions-for-project-%s")|format(affiliation.project))|raw }}
{% endif %}

<h2>{{ translate("txt-costs-and-effort-overview") }}</h2>
<table class="table table-hover table-striped table-sm">
    <thead>
    <tr>
        <th colspan="2">{{ translate("txt-type") }}</th>

        {% for year in years %}
            <th class="text-end">
                {% if projectService.isOutOfBounds(project, year) %}<span
                    class="text-danger"
                    title="{{ translate("txt-the-project-is-not-active-in-this-year") }}">{{ year }}</span>
                {% else %}
                    {{ year }}
                {% endif %}
            </th>
        {% endfor %}
        <th class="text-end">{{ translate("txt-total") }}</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="{{ 3 + years|length }}"></td>
    </tr>
    </tfoot>
    <tbody>
    {% for affiliationVersion in affiliation.version %}
        {% set version = affiliationVersion.version %}
        <tr>
            <th colspan="{{ 4 + years|length }}">
                {{ versionLink(version,'general-admin','description') }}</th>
        </tr>
        <tr>
            <td>
                <small class="text-muted">{{ version.id }}</small> {{ versionService.parseStatus(affiliationVersion.version) }}
            </td>
            <td>{{ translate("txt-effort") }}</td>

            {% for year in years %}
                {% set yearTotal = versionService.findTotalEffortVersionByAffiliationAndVersionPerYear(affiliation, version)[year] %}
                <td class="text-end">{{ yearTotal|parse_effort }}</td>
            {% endfor %}
            <td class="text-end">{{ versionService.findTotalEffortVersionByAffiliationAndVersion(affiliation, version)|parse_effort }}</td>
        </tr>
        <tr>

            <td></td>
            <td>{{ translate("txt-costs") }}</td>

            {% for year in years %}

                {% set yearTotal = versionService.findTotalCostVersionByAffiliationAndVersionPerYear(affiliation, version, 'objects')[year] %}

                <td class="text-end">

                    {# find the affiliationVersion by going over the versions, #}
                    {% set affiliationVersionId = null %}
                    {% for affiliationVersion in version.affiliationVersion|filter(affiliationVersion => affiliationVersion.affiliation.id == affiliation.id) -%}
                        {% set affiliationVersionId = affiliationVersion.id %}
                    {% endfor %}

                    <a
                            class="text-primary cost-edit single-cost"
                            data-year="{{ year }}"
                            data-version="{{ version.id }}"
                            data-affiliation-version="{{ affiliationVersionId }}"
                            data-type="text"
                            data-pk=""
                            data-params="{'year':{{ year }},'affiliationVersion':{{ affiliationVersionId }}}"
                            data-url="{{ url('json/project/cost/update-version') }}"
                            data-title="{{ translate("txt-update-costs") }}">{{ yearTotal.costs|parse_cost }}</a>
                </td>
            {% endfor %}
            <th class="text-end cost-version-total"
                data-version="{{ version.id }}">{{ versionService.findTotalCostVersionByAffiliationAndVersion(affiliation, version)|parse_cost }}</th>
        </tr>

        {% if affiliationVersion.hasContractVersion %}
            {% set contractVersion = affiliationVersion.contractVersion %}
            <tr>

                <td></td>
                <td>{{ translate("txt-contract") }} {{ contractVersionLink(contractVersion.version,'view','icon') }}</td>
                {% for year in years %}
                    {% set contractVersionCost = contractService.findTotalCostByAffiliationInVersionPerYear(contractVersion.version, affiliation) %}
                    <td class="text-end">{{ contractVersionCost[year]|currency_decimal(contractVersion.version.contract.currency) }}</td>
                {% endfor %}
                <th class="text-end">{{ contractService.findTotalCostVersionByAffiliationAndVersion(affiliation, contractVersion.version)|currency_decimal(contractVersion.version.contract.currency) }}</th>
            </tr>
        {% endif %}

    {% endfor %}

    <tr>
        <th colspan="{{ 4 + projectService.parseYearRange(affiliation.project)|length }}">{{ translate("txt-draft") }}</th>
    </tr>
    <tr>
        <td></td>
        <td>{{ translate("txt-effort") }}</td>

        {% for year in years %}
            {% set yearTotal = projectService.findTotalEffortByAffiliationPerYear(affiliation)[year] %}

            <td class="text-end">{{ yearTotal|parse_effort }}</td>
        {% endfor %}
        <th class="text-end">{{ projectService.findTotalEffortByAffiliation(affiliation)|parse_effort }}</th>
    </tr>
    <tr>
        <td></td>
        <td>{{ translate("txt-costs") }}</td>

        {% for year in years %}
            {% set yearTotal = projectService.findCostByAffiliationAndYear(affiliation, year) %}

            <td class="text-end">
                <a class="text-primary cost-edit single-cost"
                   data-year="{{ year }}"
                   data-version="0"
                   data-affiliation-version="{{ affiliationVersionId }}"
                   data-type="text"
                   data-pk=""
                   data-params="{'year':{{ year }},'affiliation':{{ affiliation.id }}}"
                   data-url="{{ url('json/project/cost/update-draft') }}"
                   data-title="{{ translate("txt-update-costs") }}">{{ yearTotal.costs|parse_cost }}</a>
            </td>
        {% endfor %}
        <th class="text-end cost-version-total"
            data-version="0">{{ projectService.findTotalCostByAffiliation(affiliation)|parse_cost }}</th>
    </tr>
    {% if affiliationService.useActiveContract(affiliation) %}
        {% set contractVersion = contractService.findLatestContractVersionByAffiliation(affiliation) %}
        <tr>

            <td></td>
            <td>{{ translate("txt-contract") }} {{ contractVersionLink(contractVersion,'view','icon') }}</td>
            {% for year in years %}
                {% set contractVersionCost = contractService.findTotalCostByAffiliationInVersionPerYear(contractVersion, affiliation) %}
                <td class="text-end">{{ contractVersionCost[year]|currency_decimal(contractVersion.contract.currency) }}</td>
            {% endfor %}
            <th class="text-end">{{ contractService.findTotalCostVersionByAffiliationAndVersion(affiliation, contractVersion)|currency_decimal(contractVersion.contract.currency) }}</th>
        </tr>
    {% endif %}
    <tr>
        <td></td>
        <td>{{ translate("txt-funding-national") }}</td>
        <td class="text-end" colspan="{{ years|length + 1 }}">
            &euro; <a
                    class="text-primary funding-edit"
                    data-type="text"
                    data-params="{'affiliation':{{ affiliation.id }}, 'type': 'funding_national'}"
                    data-pk=""
                    data-url="{{ url('json/project/funding/update-draft') }}"
                    data-title="{{ translate("txt-update-funding-eu") }}">{{ projectService.findTotalFundingNationalByAffiliation(affiliation) }}
            </a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>{{ translate("txt-funding-eu") }}</td>
        <td class="text-end" colspan="{{ years|length  + 1 }}">
            &euro; <a
                    class="text-primary funding-edit"
                    data-type="text"
                    data-params="{'affiliation':{{ affiliation.id }}, 'type': 'funding_eu'}"
                    data-pk=""
                    data-url="{{ url('json/project/funding/update-draft') }}"
                    data-title="{{ translate("txt-update-funding-eu") }}">{{ projectService.findTotalFundingEuByAffiliation(affiliation) }}
            </a>
        </td>
    </tr>
    </tbody>
</table>

<script>
    /**
     * Calculate the sum per year
     */
    $(function () {
        $('.cost-edit').editable({
            'emptytext': 0,
            'success': function (response, value) {
                if (!response.success) {
                    return response.errors;
                }
                //Inject the value in the element (needed for sum)
                $(this).html(response.data.value);
                updateTotalCosts();
            }
        });

        function updateTotalCosts() {
            let $totalPerVersion = [];
            $('.single-cost').each(function (key, singleCost) {
                let $singleCost = $(singleCost);
                let $val = parseFloat($singleCost.html() === '' ? 0 : $singleCost.html());
                let $version = $(singleCost).data('version');

                if (!($version in $totalPerVersion)) {
                    $totalPerVersion[$version] = 0;
                }

                $totalPerVersion[$version] += $val;
            });

            $totalPerVersion.forEach(function ($totalCost, $version) {
                $('.cost-version-total[data-version="' + $version + '"]').html($totalCost.toFixed(2));
            });
        }

        $('.funding-edit').editable();
    });
</script>